<html>
<body>

<h1>Detail view of topology {{top.id}}</h1>

ID: {{top.id}}<br/>
State: {{top.state}}<br/>
<a href="/top/{{top.id}}/remove">remove</a>
<a href="/top/{{top.id}}/showxml">show</a> <a href="/top/{{top.id}}/showxml?plain">download</a>
<br/>
<a href="/top/{{top.id}}/deploy">deploy</a>
<a href="/top/{{top.id}}/create">create</a>
<a href="/top/{{top.id}}/destroy">destroy</a>
<a href="/top/{{top.id}}/start">start</a>
<a href="/top/{{top.id}}/stop">stop</a>

<br/><br/>
<a href="..">back to list</a>

</body>
</html>