Package: nlxtp-guest-modules
Version: 0.1-1
Architecture: all
Maintainer: root <t_gerhard10@cs.uni-kl.de>
Installed-Size: 72
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
