{% extends "main/base.html" %}

{% load url from future %}
{% load tomato %}

{% block title %}
<title>Error: {{typemsg}}</title> 
{% endblock %}

{% block content %}
<h1>Error: {{typemsg}}</h1>

	<p>{{errormsg}}</p>
	
{% if request.session.user.hasDebugFlag %}
	<h2>Error Details</h2>
	<table><tbody>
	{% for tr in debuginfos %}
		<tr><th>{{tr.th}}:</th><td>{{tr.td}}</td></tr>
	{% endfor %}
	</tbody></table>
{% else %}
	<p>If you continue to encounter this problem, please <a href="{%url "help.contact_form"%}">contact an administrator</a> or <a href="{%externalurl 'bugtracker' %}" target="_help">file a bug report</a>.</p>
{% endif %}

{% endblock %}