[Desktop Entry]
Encoding=UTF-8
Name=Link to Your generated favicon
Type=Link
URL=http://realfavicongenerator.net/favicon?file_id=p1a1l7tmr31glubiv73594m1h246#.Vh9cDR9_e90
Icon=text-html
