{% extends "base.html" %}

{% load url from future %}

{% block header %}
<script language="JavaScript" type="text/javascript" src="/js/dynimg.js"></script>
{% endblock %}

{% block title %}
<title>Template '{{template.name}}' - G-Lab ToMaTo</title>
{% endblock %}

{% block content %}

<form>
  <button type="submit" formaction="{%url "template_list"%}" class="btn btn-primary" style="float:right;"><span class="glyphicon glyphicon-list"></span> All Templates</button>
</form>

<h1>Template '{{template.name}}'</h1>

<div class="skip-sm"></div>

{% load tomato %}

<table class="table">
	<tr>
		<th>Name:</th>
		<td>{{template.name}}</td>
	</tr>
	<tr>
		<th>Label:</th>
		<td>{{template.label}}</td>
	</tr>
	<tr>
		<th>Tech:</th>
		<td><img src="/img/{{template.tech}}16.png" /> {{template.tech}}</td>
	</tr>
	<tr>
		<th>Subtype:</th>
		<td>{{template.subtype}}</td>
	</tr>
	<tr>
		<th>Preference:</th>
		<td>{{template.preference}}</td>
	</tr>
	<tr>
		<th>Common Element:</th>
		<td>{% if template.show_as_common %}
			<img src="/img/tick.png"> yes
		{% else %}
			<img src="/img/error.png"> no
		{% endif %}
		</td>
	</tr>
	<tr>
		<th>Creation date:</th>
		<td>{{template.creation_date|todate}}</td>
	</tr>	
	<tr>
		<th>Executable archive support:</th>
		<td>
		{% if template.nlXTP_installed %}
			<img src="/img/tick.png"/> yes
		{% else %}
			{% if template.tech != 'repy' %}<img src="/img/warning16.png"/>{% endif %} no
		{% endif %}
		</td>
	</tr>	
	<tr>
		<th>Restricted:</th>
		<td>
		{% if template.restricted %}
			<img src="/img/lock.png" /> yes
		{% else %}
			no
		{% endif %}
		</td>
	</tr>	
	<tr>
		<th>Icon:</th>
		<td>
		{% if template.icon %}
			<img src="{{template.icon}}" />
		{% else %}
			<img id="template_icon" src="/img/{{template.tech}}32.png" />
			<script language="JavaScript">
				var template_iconurl = dynimg(32,"{{template.tech}}","{{template.subtype}}","{{template.name}}");
				$("#template_icon").attr("src",template_iconurl);
			</script>
		{% endif %}
		</td>
	</tr>
	{% if template.tech == 'kvmqm' %}
	<tr>
		<th>Default Keyboard Layout</th>
        <td>{{template.kblang}}</td>
	</tr>
	{%endif%}
	<tr>
		<th>Availability:</th>
		<td>
			<dl class="dl-horizontal">
  				<dt>Backend</dt><dd>
				    {% if template.ready.backend %}
				    	<img src="/img/tick.png"/> yes
		    		{% else %}
		    			<img src="/img/error.png"/> no
		    		{% endif %}
  				</dd>
  				<dt>Hosts</dt><dd>
				    {% if template.ready.hosts.ready == template.ready.hosts.total %}
				    	<img src="/img/tick.png"/>
		    		{% else %}
				    	<img src="/img/error.png"/>
		    		{% endif %}
		    		{{template.ready.hosts.ready}}/{{template.ready.hosts.total}}
  				</dd>
			</dl>		
	    </td>
	</tr>
	<tr>
		<th>Description:</th>
		<td>{{template.description|linebreaks|escape|simpletags:"b i em strong"|safe }}</td>
	</tr>
	{% if not template.restricted or "restricted_templates" in request.session.user.flags %}
	<tr>
		<th>Torrent File</th>
		<td>
			<form><button type="submit" formaction="{%url "template.download_torrent" template.id%}" class="btn btn-info"><span class="glyphicon glyphicon-floppy-save"></span></button></form>
		</td>
	</tr>
	{% endif %}
</table>

<div class="skip-sm"></div>

{% load tomato %}

{% if request.session.user.isGlobalHostManager %}
<form>
  <button type="submit" formaction="{%url "template.edit_torrent" template.id%}" class="btn btn-warning"><span class="glyphicon glyphicon-open"></span> upload torrent</button>
  <button type="submit" formaction="{%url "template.edit" template.id%}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> edit template</button>
  <button type="submit" formaction="{%url "template.remove" template.id%}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> remove template</button>
</form>
{%endif%}

{% endblock %}