{% extends "base.html" %}

{% load url from future %}

{% load tomato %}

{% block content %}
<h1>Template list</h1>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  	<span class="glyphicon glyphicon-filter"></span>
    {% if tech %}
      Showing all templates of tech '{{tech}}'
    {% else %}
      Showing all templates
    {% endif %}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{% url "template_list" %}">Show all templates</a></li>
    <li class="divider"></li>
    {% for name, label in techs_dict.iteritems %}
      <li><a href="{% url "template_list_bytech" tech=name %}">Show all template of tech '{{label}}'</a></li>    
    {% endfor %}
  </ul>
</div>

<div class="skip-sm"></div>

{% if templ_list|length > 10 and request.session.user.isHostManager %}
<form>
  <button type="submit" 
  {% if tech %}
  	formaction="{%url "template.add" tech%}"
  {%else%}
  	formaction="{%url "template.add"%}"
  {%endif%}
  class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add template</button>
</form>
{% endif %}

{% if templ_list %}
	<script src="/js/enhancetable.js"></script>
	<table class="sortable,filterable table table-striped">
	  <tr>
	  	<th class="icononly">Tech</th>
	  	<th>Name</th>
	    <th>Label</th>
	    <th>Subtype</th>
	    <th>Preference</th>
	    <th>Creation Date</th>
	    <th>Ready</th>
	    <th class="icononly"></th>
	  </tr>
	{% for templ in templ_list %}
	  <tr>
	  	<td enhancetable_customkey="{{templ.attrs.tech}}" align="right" class="icononly">
	  		<img src="/img/{{templ.attrs.tech}}16.png" title="{{techs_dict|get:templ.attrs.tech}}" />
		</td>
	    <td><a href="{%url "template.info" templ.id%}">{{templ.attrs.name}}</a></td>
	    <td>{{templ.attrs.label}}</td>
	    <td>{{templ.attrs.subtype}}</td>
	    <td>{{templ.attrs.preference}}</td>
	    <td>{{templ.attrs.creation_date}}</td>
	    <td>
		    {% if templ.attrs.ready.backend %}
		    	<img src="/img/tick.png" title="on backend" />
		    {% else %}
		    	<img src="/img/error.png" title="not on backend" />
		    {% endif %}
		    /
		    {% if templ.attrs.ready.hosts.ready == templ.attrs.ready.hosts.total %}
		    	<img src="/img/tick.png" title="on all hosts" />
		    {% else %}
		    	<img src="/img/error.png" title="not on all hosts" />
	    		{{templ.attrs.ready.hosts.ready}}/{{templ.attrs.ready.hosts.total}}
		    {% endif %}
	    </td>
	    <td class="icononly">
	    <div class="hoverdescription">
	    	{% if templ.attrs.description %}		    	
		    	<img src="/img/info.png" alt="i" />
		    {% else %}
		    	<img src="/img/invisible16.png" />
		    {%endif%}
		    
		    {% if templ.attrs.show_as_common %}
		    	<img src="/img/tick.png"/>
		    {% else %}
		    	<img src="/img/invisible16.png" />
		    {%endif%}
		    
	    	{% if not templ.attrs.nlXTP_installed and not templ.attrs.tech == 'repy' %}
		    	<img src="/img/warning16.png" alt="!"/>
		    {% else %}
		    	<img src="/img/invisible16.png" />
		    {%endif%}
		    
		    {% if templ.attrs.restricted %}
		    	<img src="/img/lock.png" />
		    {% else %}
		    	<img src="/img/invisible16.png" />
			{% endif %}
			
    		<div class="hiddenbox"><table>
    		{% if templ.attrs.description %}
    			<tr>
    				<td><img src="/img/info.png" /></td>
	    			<td>{{ templ.attrs.description|linebreaks|escape|simpletags:"b i em strong"|safe }}</td>
	    		</tr>
	    	{%endif%}
	    	
	    	{% if templ.attrs.show_as_common %}
	    		<tr>
	    			<td><img src="/img/tick.png"/></td>
	    			<td>This template appears as a common element in the editor.</td>
	    		</tr>
	    	{% endif %}
	    	
    		{% if not templ.attrs.nlXTP_installed and not templ.attrs.tech == 'repy' %}
	    		<tr>
		    		<td><img src="/img/warning16.png" /></td>
		    		<td>nlXTP Guest Modules not installed</td>
	    		</tr>
    		{%endif%}
	    	
		    {% if templ.attrs.restricted %}
				<tr>
					<td><img src="/img/lock.png" /></td>
					<td>This template is restricted.</td>
				</tr>
			{% endif %}
			
    		</table></div>
		 </div>	    
	    </td>
	  </tr>
	{% endfor %}
	</table>
{% else %}
	<p>No templates</p>
{% endif %}

{% if request.session.user.isHostManager %}
<form>
  <button type="submit" 
  {% if tech %}
  	formaction="{%url "template.add" tech%}"
  {%else%}
  	formaction="{%url "template.add"%}"
  {%endif%}
  class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add template</button>
</form>
{% endif %}

{% endblock %}
