docs_build

*/config
*/logs
*.pyc
*.komodoproject
*.pydevproject
*.sqlite
*~
.*.swp
*.lyx#
*Thumbs.db*
~$*.pptx
*.log
*.pem
*.torrent
*.qcow2
.idea
__pycache__

*old*
web/tomato/static/newui
backend/htmlcov
backend/templates
backend/dumps
docs/presentations
cli/ovz
docs/static/doc
cli/tests/backend/old
