docs_build

*/config
*/logs
*.pyc
*.komodoproject
*.pydevproject
*.sqlite
*~
*.lyx#
*Thumbs.db*
~$*.pptx
*.log
*.pem
*.torrent
*.qcow2
.idea

*old*
web/tomato/static/newui
backend/htmlcov
backend/templates
docs/presentations
backend/dumps
cli/ovz
docs/static/doc
cli/tests/backend/old
