body
{
 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size:0.85em;
 background-color:#ffffff;
 margin:0px;
}

h1 {font-size:1.5em;color:#000000;margin-bottom:5mm;}
h2 {font-size:1.1em;color:#000000;margin-bottom:1mm}
h3 {font-size:1.0em;color:#000000;}

code {font-size:0.9px;color:#0000ff;}
pre
{
 font-size:14px;
 color:#0000ff;
 padding:5px;
 white-space: pre-wrap;
}

a:link, a:visited, a:active, a:hover
{
  text-decoration:underline;
  font-weight:normal;
  font-size:12px;
}

a:link, a:visited
{
	color:#911a20;
}

a:active, a:hover
{
  color:#f00;
}

#content {
        margin-left: 200px;
        /*margin-bottom: 1cm;*/
}

#page {
        min-width: 780px;
        max-width: 1260px;
        clear:both;
        display: block;
        overflow: hidden;
        margin-bottom: 80px;
}

#left {
        float: left;
        width: 180px;
}

#header {
	height:120px;
	margin: 0 auto 30px auto;
	background:url(images/spacer_hor.gif) repeat-x left bottom;
}


#footer{
	position:fixed;
	text-align:center;
	margin-left:-460px;
	left:50%;
	bottom:0px;
	padding-top:1px;
	height:52px;
	width:921px;
	background:url(images/footer.png)  no-repeat;
}

#border_top{
	width:100%;
	height:28px;
	background-repeat:repeat-x;
	background-image: url(images/border_top.png);
}

#logo{
	float:left;
	width:153px;
	height:79px; 
}

#logo-text{
	float:left;
	vertical-align:middle;
}

#logo-text h1{
	display: inline;
	vertical-align: top;
	position: relative;
	color:#911a20;
	font-size:40px;
	margin-left: 10px;
	font-weight: bold;
	letter-spacing: 2px;
	clear: right;
}

#logo-text h2{
	display: inline;
	vertical-align: top;
	/*top: 10px;
	position: relative;*/
	font-size:12px;
	margin-left: 10px;
}

#minimenu_top{
	margin:20px 0px; 
	float:right;
}

#minimenu_bottom{
	margin:10px 0px; 
}

.smallmenu{
    font-size:11px;	
}

.smallmenu a, .smallmenu a:visited{
	padding: 10px;
	text-decoration: none;
	color: #000000;
}

.smallmenu a:hover {
	text-decoration: underline;
}

#menu_top {
	float: right;
}

#menu_top ul {
	margin: 0;
	padding: 15px 0 0 0;
	list-style: none;
}

#menu_top li {
	display: inline;
}

#menu_top a {
	display: block;
	float: left;
	margin-left: 30px;
	padding: 7px;
	text-decoration: none;
	font-size: 13px;
	color: #000000;
}

#menu_top a:hover, #menu_top .active a {
	background: url(images/line.gif) repeat-x left bottom;
}

#sidemenu {
	width:180px;
	margin:0 0 25px;
	padding:0;
}

#sidemenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
 }

#sidemenu h2{
	padding: 3px 0;
	margin:5px 0;
	display:block;
	background: url(images/line.gif) repeat-x left bottom;
}

#sidemenu ul li {
	display: block;
	background: url(images/glab_icon.png)  10px 3px no-repeat;
	padding: 2px 0 2px 40px;
}

#sidemenu ul ul li {
	background-position: 40px 3px;
	padding-left: 70px;
}

#sidemenu ul li a {
	text-decoration: none;
	color: #000000;
	line-height: 19px;
}

#sidemenu ul li a:hover, #sidemenu  .active a{
	font-weight:bold;
}

img {
	border: 0;
}

/* IE workaround */
* html #sidemenu ul li {
display: inline;
}
* html #sidemenu ul li a {
height: 1%;
}
/* workaround Ende */

#legal{
	font-size:12px;
	color:#999999;
	margin-top: 20px;
}

.clearer {
	clear:both;
}

.indent{
	padding-left:2em;
}

.align-justify{
	text-align:justify;
}

div.tx_sevenpack-list_container { margin: 0; }

.topology_analysis {
	list-style-type: none;
}
.problem {
	font-weight:bold;
	color:red;
}
.warning {
	color:red;
}
.hint {
	color:orange;
}

td {
	vertical-align:top;
}

form table th {
	text-align: left;
	font-weight: normal;
	font-size:0.85em;
	vertical-align:top;
}


form table ul.errorlist {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

form table ul.errorlist li {
	font-size:0.6em;
	color:red;
	font-weight:bold;
}