{% extends "base.html" %}

{% block menu_top %}
<ul>
	{% if user %}
		<li><a href="{%url account.info%}">My Account</a></li>
		<li class="active"><a href="{%url topology.index%}">Topologies</a></li>
		<li><a href="{%url host.index%}">Admin</a></li>
	{% else %}
		<li><a href="{%url account.register%}">Register</a></li>
		<li><a href="{%url topology.index%}">Login</a></li>
	{% endif %}	
	<li><a href="{%url main.project%}" target="_help">Project</a></li>
	<li><a href="{%url main.help%}" target="_help">Help</a></li>
</ul>
{% endblock %}

{% block left %}
<div id="sidemenu">
	<h2>Topologies</h2>
	<ul>
		<li><a href="{%url topology.create%}">create new topology</a></li>
		<li><a href="{%url topology.index%}">list of all topologies</a></li>
		<li><a href="{%url topology.import_form%}">import topology</a></li>
	</ul>
</div>

{% if top_id %}
<div id="sidemenu">
	<h2>Topology {{top_id}}</h2>
	<ul>
		<li><a href="{%url topology.show top_id%}">show</a></li>
		<li><a href="{%url topology.export top_id%}">export</a></li>
	</ul>
</div>
{% endif %}
{% endblock %}