{% extends "base.html" %}

{% load url from future %}
{% load tomato %}

{% block title %}
<title>Consoles: {{topology.name}}- ToMaTo Testbed</title>
{% endblock %}

{% block header %}

<style>

	li.active a {
		background-color: #eee !important;
	}

</style>

<script>
	{% for el in topology.elements %}
		function setFocusToConsole{{el.id}}(){
			var iframe = $("#iframe-console-{{el.id}}")[0];
			iframe.contentWindow.focus();
		}
	{% endfor %}
	$(document).ready(function(){
		{% for el in topology.elements %}
			$("#tab-{{el.id}}").click(function(){
				setTimeout(setFocusToConsole{{el.id}}, 50);
			});
		{% endfor %}
		setTimeout(setFocusToConsole{{topology.elements.0.id}}, 50)
	});
</script>

{% endblock %}

{% block page %}


{% if topology.elements %}

	<ul class="nav nav-tabs" style="margin-bottom:0px; margin-top:-19px;">
		{% for el in topology.elements %}
			<li{% if forloop.first %} class="active"{% endif %}>
				<a data-toggle="tab" id="tab-{{el.id}}" href="#console-{{el.id}}">{{el.name}}</a>
			</li>
		{% endfor %}

	</ul>



	<div class="tab-content">
		{% for el in topology.elements %}
			<div id="console-{{el.id}}" class="tab-pane{% if forloop.first %} in active{% endif %}">
				{% if el.state == 'started' %}
					<iframe id="iframe-console-{{el.id}}" src="{% url 'tomato.element.console_novnc' el.id %}" style="width:760px; height:440px; padding:0px; border:0px;"></iframe>
				{% else %}
					<div class="alert alert-warning text-center" style="margin-top: 100px; margin-left: 20%; margin-right: 20%;">
						<h4 class="alert-heading">The Element is not started.</h4>
						<p>Reload this page after starting to access the console.</p>
					</div>
				{% endif %}
			</div>
		{% endfor %}

	</div>


{% else %}
	<div class="alert col-xs-8 alert-warning text-center" style="margin-top: 100px; margin-left: 20%; margin-right: 20%;">
		<h3>No started elements</h3>
		<p>This topology has no elements that are started and that have a console.</p>
	</div>
{% endif %}


{% endblock %}
