{% extends "topology/base.html" %}

{% load tomato %}

{% block content %}
<h1>List of Topologies</h1>


{% if top_list %}

{% if top_list|length > 10 and not 'no_topology_create' in user.flags %}
	<input type="button" onClick="window.location='{%url topology.create%}'" value="Create new Topology" />
	<input type="button" onClick="window.location='{%url editor_tutorial.index%}'" value="Start Tutorial">
	<input type="button" onClick="window.location='{%url topology.import_form%}'" value="Import from file" />
	<div style="height:0.3cm;">&nbsp;</div>
{% endif %}

<script src="/js/enhancetable.js"></script>
<table class="sortable,filterable,stddevcolor">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Owner</th>
    <th>Elements</th>
    <th>Connections</th>
    <th stddev_column_class="good_low">CPUs</th>
    <th stddev_column_class="good_low">Traffic</th>
    <th stddev_column_class="good_low">Memory</th>
    <th stddev_column_class="good_low">Disk</th>
    <th></th>
  </tr>
 
<script src="/js/jquery.js"></script>
<script src="/js/loading_popup.js"></script>

  
{% for top in top_list %}
  <tr>
    <td>{{top.id}}</td>
    <td style="vertical-align:text-top">
    
    {% if top.attrs.tutorial_id %}
    	{% if not top.attrs.tutorial_disabled %}
    		<img src="/img/tutorial.png" style="position:absolute; display:inline;" />
    	{% endif %}
    {% endif %}
    
    
    <div style="padding:0px; margin:0px; border:0px; 
    {% if tut_in_top_list %}
    	margin-left:17px;
    {% endif %}
    ">
    	<a href="{% url topology.info top.id %}" onclick="loadbusy();">{{top.attrs.name}}</a></td>
    </div>
    
    <td>
    	{% for user, role in top.permissions.items %}
    		{% if role == "owner" %}
    			<a href="{%url account.info user%}">{{user}}</a>{% if forloop.revcounter0 %}, {% endif %}
    		{% endif %}
    	{% endfor %}
    </td>
    <td>{{top.elements|length}}</td>
    <td>{{top.connections|length}}</td>
    <td enhancetable_customkey="{{top.usage.usage.cputime}}">{{top.usage.usage.cputime|div:300|floatformat}} CPUs</td>
    <td enhancetable_customkey="{{top.usage.usage.traffic}}">{{top.usage.usage.traffic|div:300|filesizeformat}}/s</td>
    <td enhancetable_customkey="{{top.usage.usage.memory}}">{{top.usage.usage.memory|filesizeformat}}</td>
    <td enhancetable_customkey="{{top.usage.usage.diskspace}}">{{top.usage.usage.diskspace|filesizeformat}}</td>
    <td>
    	<a href="javascript:window.open('{%url topology.usage top.id%}', '_blank', 'innerHeight=450,innerWidth=600,status=no,toolbar=no,menubar=no,location=no,hotkeys=no,scrollbars=no');"><img src="/img/chart_bar.png"/></a>
    </td>
  </tr>
{% endfor %}
</table>
{% else %}
<p>You do not own or have access to any topologies yet.</p>
<p>If you are a new user, we recommend you to do the <a href="{%url editor_tutorial.loadTutorial 'basic'%}">beginners' tutorial</a></p>
{% endif %}


<br />
{% if 'no_topology_create' in user.flags %}
	<p>You may not create any topologies. Contact the administrator for mor information.</p>
{% else %}
	<input type="button" onClick="loadbusy();window.location='{%url topology.create%}'" value="Create new Topology" />
	<input type="button" onClick="window.location='{%url editor_tutorial.index%}'" value="Start Tutorial">
	<input type="button" onClick="window.location='{%url topology.import_form%}'" value="Import from file" />
{% endif %}
{% if 'global_topl_owner' in user.flags or 'global_topl_manager' in user.flags or 'global_topl_user' in user.flags or 'orga_topl_owner' in user.flags or 'orga_topl_manager' in user.flags or 'orga_topl_user' in user.flags %}
  {% if showall %}
	<input type="button" onClick="window.location='{%url topology.index%}'" value="Show personal topologies" />
  {% else %}
	<input type="button" onClick="window.location='{%url topology.index_all%}'" value="Show all topologies" />
  {% endif %}
{% endif%}


{% endblock %}
