{% extends "topology/base.html" %}

{% load tomato %}

{% block content %}
<h1>List of topologies</h1>


{% if top_list %}
<input type="button" onClick="window.location='{%url topology.create%}'" value="Create new topology" />
<input type="button" onClick="window.location='{%url topology.import_form%}'" value="Import from File" />
<script src="/js/enhancetable.js"></script>
<table class="sortable,filterable,stddevcolor">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Owner</th>
    <th>Elements</th>
    <th>Connections</th>
    <th stddev_column_class="good_low">CPUs</th>
    <th stddev_column_class="good_low">Traffic</th>
    <th stddev_column_class="good_low">Memory</th>
    <th stddev_column_class="good_low">Disk</th>
    <th></th>
  </tr>
{% for top in top_list %}
  <tr>
    <td>{{top.id}}</td>
    <td><a href="{%url topology.info top.id%}">{{top.attrs.name}}</a></td>
    <td>
    	{% for user, role in top.permissions.items %}
    		{% if role == "owner" %}
    			<a href="{%url account.info user%}">{{user}}</a>{% if forloop.revcounter0 %}, {% endif %}
    		{% endif %}
    	{% endfor %}
    </td>
    <td>{{top.elements|length}}</td>
    <td>{{top.connections|length}}</td>
    <td enhancetable_customkey="{{top.usage.usage.cputime}}">{{top.usage.usage.cputime|div:300|floatformat}} CPUs</td>
    <td enhancetable_customkey="{{top.usage.usage.traffic}}">{{top.usage.usage.traffic|div:300|filesizeformat}}/s</td>
    <td enhancetable_customkey="{{top.usage.usage.memory}}">{{top.usage.usage.memory|filesizeformat}}</td>
    <td enhancetable_customkey="{{top.usage.usage.diskspace}}">{{top.usage.usage.diskspace|filesizeformat}}</td>
    <td>
    	<a href="javascript:window.open('{%url topology.usage top.id%}', '_blank', 'innerHeight=450,innerWidth=600,status=no,toolbar=no,menubar=no,location=no,hotkeys=no,scrollbars=no');"><img src="/img/chart_bar.png"/></a>
    </td>
  </tr>
{% endfor %}
</table>
{% else %}
Currently you do not have any topologies you can access.
{% endif %}


{% if 'no_topology_create' in user.flags %}
	<p>You may not create any topologies. Contact the administrator for mor information.</p>
{% else %}
	<input type="button" onClick="window.location='{%url topology.create%}'" value="Create new topology" />
	<input type="button" onClick="window.location='{%url topology.import_form%}'" value="Import from File" />
{% endif %}

{% endblock %}
