{% extends "topology/base.html" %}

{% block content %}
<h1>List of topologies</h1>

{% if top_list %}
<script src="/js/enhancetable.js"></script>
<table class="sortable,filterable">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Owner</th>
    <th>Elements</th>
    <th>Connections</th>
    <th></th>
  </tr>
{% for top in top_list %}
  <tr>
    <td>{{top.id}}</td>
    <td><a href="{%url topology.info top.id%}">{{top.attrs.name}}</a></td>
    <td>
    	{% for user, role in top.permissions.items %}
    		{% if role == "owner" %}
    			{{user}}{% if forloop.revcounter0 %}, {% endif %}
    		{% endif %}
    	{% endfor %}
    </td>
    <td>{{top.elements|length}}</td>
    <td>{{top.connections|length}}</td>
    <td>
    	<a href="javascript:window.open('{%url topology.usage top.id%}', '_blank', 'innerHeight=450,innerWidth=600,status=no,toolbar=no,menubar=no,location=no,hotkeys=no,scrollbars=no');"><img src="/img/chart_bar.png"/></a>
    </td>
  </tr>
{% endfor %}
</table>
{% else %}
Currently you do not have any topologies you can access. Click on "create new topology" to create one.
{% endif %}
{% endblock %}
