{% extends "topology/base.html" %}

{% load url from future %}
{% load tomato %}

{% block header %}
<base href="/"/>
<link type="text/css" href="style/jquery-ui.css" rel="stylesheet" />
<link type="text/css" href="style/ui.ribbon.css" rel="stylesheet" />
<link type="text/css" href="style/jquery.contextMenu.css" rel="stylesheet" />
<link type="text/css" href="style/editor.css" rel="stylesheet" />
<link type="text/css" href="/style/pretty-json.css" rel="stylesheet" />
<script language="JavaScript" type="text/javascript" src="js/jquery-ui.js"></script>
<script language="JavaScript" type="text/javascript" src="js/ui.ribbon.js"></script>
<script language="JavaScript" type="text/javascript" src="js/jquery.contextMenu.js"></script>
<script language="JavaScript" type="text/javascript" src="js/raphael.js"></script>
<script language="JavaScript" type="text/javascript" src="js/util.js"></script>
<script language="JavaScript" type="text/javascript" src="js/browser_issues.js"></script>
<script language="JavaScript" type="text/javascript" src="js/dynimg.js"></script>
<script language="JavaScript" type="text/javascript" src="js/editor.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/underscore-min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/backbone-min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/pretty-json-min.js"></script>


{% if tutorial_info.state.enabled %}
	<script language="JavaScript" type="text/javascript" src="js/editor_tutorial_help.js"></script>
{% endif %}


<style type="text/css">
#left {
	display: none;
}
#content {
	margin-left:0px;
	margin-right:0px;
	max-width:none;
}
</style>
{% endblock %}

{% block content %}


<div id="editor" style="width: 800px; padding: 0px; border:0px; margin-left: auto; margin-right:auto;">
	<div id="browser_issues"></div>
	<h1 id="topology_name">Topology '{{top.attrs.name}}'</h1>
	<div id="menu" style="width:800px;"></div>
	<div id="workspace" style="width:800px; height:600px;"></div>
</div>

<script language="JavaScript" type="text/javascript">
  display_issues($("#browser_issues"));
  help_baseUrl = "{%externalurl 'help' %}";
  {% if tutorial_info.state.enabled %}
  var tutorial_base_url = "{{tutorial_info.data.base_url}}";
  var tutorial_steps = {{tutorial_info.steps|safe}};
  {% endif %}
  
  var editor = new Editor({
  	menu_container: $('#menu'),
  	workspace_container: $('#workspace'),
  	{% if tutorial_info.state.enabled %}
  		tutorial_show: true,
		tutorial_state: {{tutorial_info.state|jsonify}},
  	{% else %}
  		tutorial_show:false,
  	{% endif %}
  	
  	safe_mode: true,
  	timeout_settings: {{timeout_settings|jsonify}},
  	sites: {{sites_json|safe}},
  	resources: {{res_json|safe}},
  	capabilities: {{caps_json|safe}}, 
  	topology: "{{top.id}}",
  	user: {{request.session.user.data|jsonify}},
  	isGlobalOwner: "{{user.flags.global_owner}}",
  	isDebugUser: {{request.session.user.hasDebugFlag|jsonify}},
  	permission_list: {{permission_list|safe}},
  	error_message_appendix: 'If you continue to encounter this problem, please <a href="{%url "help.contact_form"%}" style="color: blue;" target="_blank">contact an administrator</a> or <a href="{%externalurl 'bugtracker' %}" style="color: blue;" target="_help">file a bug report</a>.',
	onready: function(){
		{% if tutorial_info.state.enabled %}
		{{tutorial_info.initscript|safe}}
		{%endif%}
	}
  	
  });
  

  
  
</script>

{% endblock %}
