{% extends "topology/base.html" %}

{% load tomato %}

{% block content %}
<h1>Topology list</h1>

{% if request.session.user.hasOrgaToplFlags or request.session.user.hasGlobalToplFlags %}
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-filter"></span>
    {% if not show_all %}
      Showing user topologies
    {% else %}
      {% if organization %}
        Showing all topologies of '{{organization}}'
      {% else %}
        Showing all topologies
      {% endif %}
    {% endif %}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{% url topology_list %}">Show user topologies</a></li>
    {% if request.session.user.hasGlobalToplFlags %}
      {% for orga in orgas %}
        <li><a href="{% url organization_topologies organization=orga.name %}">Show all topologies of '{{orga.name}}'</a></li>    
      {% endfor %}
      <li><a href="{% url topology_list_all %}">Show all topologies</a></li>
    {% else %}
      <li><a href="{% url organization_topologies organization=request.session.user.organization %}">Show all topologies of '{{request.session.user.organization}}'</a></li>        
    {% endif %}
  </ul>
</div>
{% endif %}

<div class="skip-sm"></div>

{% if 'new_account' in request.session.user.flags %}
<div class="alert alert-warning">
<strong>Note:</strong> Your account is new and needs to be activated first.
Administrators have been informed about your pending registration and will handle it soon. You will be informed when your registration has been processed.
<br/>
While waiting for the account activation you can create and design topologies but not prepare or start them. (Most tutorials will not work.) 
</div>
<div class="skip-sm"></div>
{% endif %}

{% if top_list %}

{% if top_list|length > 10 and not 'no_topology_create' in request.session.user.flags %}
    <form>
    <button type="submit" formaction="{%url topology.create%}" onClick="loadbusy(event)" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create new Topology</button>
	<button type="submit" formaction="{%url tutorial.list%}" class="btn btn-default"><img src="/img/tutorial.png" /> Start Tutorial</button>
	<button type="submit" formaction="{%url topology.import_%}" class="btn btn-default"><span class="glyphicon glyphicon-import"></span> Import from file</button>
    </form>
{% endif %}

<script src="/js/enhancetable.js"></script>

<script src="/js/jquery.js"></script>

<img src="/img/loading_big.gif" class="preload"/>
<script src="/js/loading_popup.js"></script>


<table class="sortable,filterable,stddevcolor, table table-striped">
  <tr>
    <th>ID</th>
    <th></th>
    <th>Name</th>
    <th>Owner</th>
    <th>Elements</th>
    <th>Connections</th>
    <th stddev_column_class="good_low">CPUs</th>
    <th stddev_column_class="good_low">Traffic</th>
    <th stddev_column_class="good_low">Memory</th>
    <th stddev_column_class="good_low">Disk</th>
    <th class="icononly"></th>
  </tr>  
{% for top in top_list %}
  <tr>
    <td>{{top.id}}</td>
    <td>{% if top.attrs.tutorial_url and not top.attrs.tutorial_disabled %}<img src="/img/tutorial.png"/>{% endif %}</td>
    <td><a href="{% url topology.info top.id %}" onclick="loadbusy(event);">{{top.attrs.name}}</a></td>
    <td>
    	{% for user, role in top.permissions.items %}
    		{% if role == "owner" %}
    			<a href="{%url account.info user%}">{{user}}</a>{% if forloop.revcounter0 %}, {% endif %}
    		{% endif %}
    	{% endfor %}
    </td>
    <td>{{top.elements|length}}</td>
    <td>{{top.connections|length}}</td>
    <td enhancetable_customkey="{{top.usage.usage.cputime}}">{{top.usage.usage.cputime|div:300|floatformat}} CPUs</td>
    <td enhancetable_customkey="{{top.usage.usage.traffic}}">{{top.usage.usage.traffic|div:300|filesizeformat}}/s</td>
    <td enhancetable_customkey="{{top.usage.usage.memory}}">{{top.usage.usage.memory|filesizeformat}}</td>
    <td enhancetable_customkey="{{top.usage.usage.diskspace}}">{{top.usage.usage.diskspace|filesizeformat}}</td>
    <td class="icononly">
    	<a href="javascript:window.open('{%url topology.usage top.id%}', '_blank', 'innerHeight=450,innerWidth=600,status=no,toolbar=no,menubar=no,location=no,hotkeys=no,scrollbars=no');"><img src="/img/chart_bar.png"/></a>
    </td>
  </tr>
{% endfor %}
</table>
{% else %}
  {% if not organization %}
  <p>You do not own or have access to any topologies yet. If you are a new user, we recommend you to do a tutorial.</p>
  {% else %}
  <p>There are not topologies yet.</p>
  {% endif %}
{% endif %}


<br />
{% if 'no_topology_create' in request.session.user.flags %}
	<p>You may not create any topologies. Contact the administrator for more information.</p>
{% else %}
    <form>
    <button type="submit" formaction="{%url topology.create%}" onClick="loadbusy(event)" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create new Topology</button>
	<button type="submit" formaction="{%url tutorial.list%}" class="btn btn-default"><img src="/img/tutorial.png" /> Start Tutorial</button>
	<button type="submit" formaction="{%url topology.import_%}" class="btn btn-default"><span class="glyphicon glyphicon-import"></span> Import from file</button>
    </form>
{% endif %}

{% endblock %}
