{% extends "topology/base.html" %}

{% load tomato %}

{% block content %}
<h1>Tutorials</h1>


<script src="/js/jquery.js"></script>

<img src="/img/loading_big.gif" class="preload"/>
<script src="/js/loading_popup.js"></script>

<table class="sortable" style="vertical-align:middle;">

{% for tut in tutorials %}
  <tr>
    <td style="vertical-align:middle; background-color: inherit; padding-bottom:0.4cm; padding-right: 0.5cm;"><a href="{%url tutorial.start %}?url={{tut.url}}&token={{tut.url|security_token:session_id}}" onclick="loadbusy(event)"><img src="{{tut.icon}}" /></a></td>
    <td style="vertical-align:middle; background-color: inherit; padding-bottom:0.4cm; padding-right: 0.5cm;"><a href="{%url tutorial.start %}?url={{tut.url}}&token={{tut.url|security_token:session_id}}" onclick="loadbusy(event)">{{tut.name}}</a></td>
    <td style="vertical-align:middle; background-color: inherit; padding-bottom:0.4cm;">{{tut.desc}}</td>
{% endfor %}
</table>

{% endblock %}
