{% extends "topology/base.html" %}

{% load url from future %}
{% load tomato %}

{% block title %}
<title>Tutorials - G-Lab ToMaTo</title> 
{% endblock %}

{% block content %}
<h1>Tutorials</h1>


<script src="/js/jquery.js"></script>


<table class="sortable" style="vertical-align:middle;">

{% for tut in tutorials %}
  <tr>
    <td style="vertical-align:middle; background-color: inherit; padding-bottom:0.4cm; padding-right: 0.5cm;"><a href="{%url "tutorial.start" %}?url={{tut.url}}&token={{tut.url|security_token:session_id}}" onclick="loadbusy(event,'Loading Topology Editor')"><img src="{{tut.icon}}" /></a></td>
    <td style="vertical-align:middle; background-color: inherit; padding-bottom:0.4cm; padding-right: 0.5cm;"><a href="{%url "tutorial.start" %}?url={{tut.url}}&token={{tut.url|security_token:session_id}}" onclick="loadbusy(event,'Loading Topology Editor')">{{tut.name}}</a></td>
    <td style="vertical-align:middle; background-color: inherit; padding-bottom:0.4cm;">{{tut.desc}}</td>
  </tr>
{% endfor %}
</table>

<link href="/style/jquery-ui.css" rel="stylesheet">
<script src="/js/jquery.js"></script>
<script src="/js/jquery-ui.js"></script>
<script language="JavaScript" type="text/javascript">
	function customTutorial() {
		var dialog = $("<div/>");
		var ta = $('<input type="text" name="tutorial_url" style="width: 100%" />');
		dialog.append(ta);
		var t = this;
		dialog.dialog({
			autoOpen: true,
			draggable: true,
			resizable: false,
			height: "auto",
			width: 400,
			title: "Tutorial URL",
			show: "slide",
			hide: "slide",
			modal: true,
			buttons: {
				Open: function() {
		        	dialog.dialog("close");
			      	window.location = "{%url "tutorial.start" %}?url="+ta.val();
			    },
		        Cancel: function() {
		        	dialog.dialog("close");
		        }				
			},
		});
	}
</script>
<button type="button" onclick="customTutorial()" class="btn btn-primary">Load tutorial from URL</button>
{% endblock %}
