{% extends "base.html" %}

{% block menu_top %}
<ul>
	<li class="active"><a href="{%url account.info_or_register%}">Account</a></li>
	<li><a href="{%url topology.index%}">Topologies</a></li>
	<li><a href="{%url host.index%}">Admin</a></li>
	<li><a href="{%url main.project%}" target="_help">Project</a></li>
	<li><a href="{%url main.help%}" target="_help">Help</a></li>
	<li><a href="{%url main.logout%}" target="_logout" onclick="alert('Please cancel the following dialog and close the new page.'); return true">Logout</a></li>
</ul>
{% endblock %}

{% block left %}
<div id="sidemenu">
	<h2>Account</h2>
	<ul>
		<li><a href="{%url account.register%}">Register</a></li>
		<li><a href="{%url account.info%}">My account</a></li>
		<li><a href="{%url account.index%}">Account list</a></li>
	</ul>
</div>
{% endblock %}