{% extends "base.html" %}

{% block menu_top %}
<ul>
	{% if user %}
		<li class="active"><a href="{%url account.info%}">My Account</a></li>
		<li><a href="{%url topology.index%}">Topologies</a></li>
		<li><a href="{%url host.index%}">Admin</a></li>
	{% else %}
		<li class="active"><a href="{%url account.register%}">Register</a></li>
		<li><a href="{%url topology.index%}">Login</a></li>
	{% endif %}	
	<li><a href="{%url main.project%}" target="_help">Project</a></li>
	<li><a href="{%url main.help%}" target="_help">Help</a></li>
</ul>
{% endblock %}

{% block left %}
<div id="sidemenu">
	<h2>Account</h2>
	<ul>
		{% if user %}
			<li><a href="{%url account.info%}">My Account</a></li>
		{% else %}
			<li><a href="{%url account.register%}">Register</a></li>
		{% endif %}	
		<li><a href="{%url main.logout%}" target="_logout" onclick="alert('Please cancel the following dialog and close the new page.'); return true">Force logout</a></li>
	</ul>
</div>
{% endblock %}