{% extends "base.html" %}

{% block menu_select %}
<script language="JavaScript" type="text/javascript">
{% if user %}
document.getElementById("menu_item_account").className="active";
{% else %}
document.getElementById("menu_item_register").className="active";
{% endif %}
</script>
{% endblock %}

{% block left %}
<div id="sidemenu">
	<h2>Account</h2>
	<ul>
		{% if user %}
			<li><a href="{%url account.info%}">My Account</a></li>
		{% else %}
			<li><a href="{%url account.register%}">Register</a></li>
		{% endif %}	
		<li><a href="{%url main.logout%}" target="_logout" onclick="alert('Please cancel the following dialog and close the new page.'); return true">Force logout</a></li>
	</ul>
</div>
{% endblock %}