{% extends "admin/base.html" %}

{% block content %}
<h1>Account List</h1>

<script src="/js/enhancetable.js"></script>
<table class="sortable,filterable">
  <tr>
    <th>Name</th>
    <th>Origin</th>
    <th>Organization</th>
    <th>Full name</th>
    <th>Affiliation</th>
    <th>Flags</th>
{% if "admin" in user.flags %}
    <th></th>
{% endif %}
  </tr>
{% for account in accounts %}
  <tr>
    <td>{{account.name}}</td>
    <td>{{account.origin}}</td>
    <td>{{account.organization}}</td>
    <td>{{account.realname}}</td>
    <td>{{account.affiliation}}</td>    
    <td>
    	<div class="hoverdescription">
    		{{account.flags|join:", "}}
    		<div class="hiddenbox">
    			{% for f in account.flags_name %}
    				<p>
    					{{f}}
    				</p>
    			{% endfor %}
    		</div>
    	</div>
    </td>
{% if "admin" in user.flags %}
    <td>
      <a href="{%url account.info account.id %}"><img src="/img/pencil.png" title="edit" /></a> <a href="{%url account.remove account.id %}"><img src="/img/cross.png" title="remove" /></a>
    </td>
{% endif %}
  </tr>
{% endfor %}
</table>

{% endblock %}