{% extends "base.html" %}

{% block content %}
<h1>Account {{account.name}}</h1>

{% if "orga_admin" in request.session.user.flags or "global_admin" in request.session.user.flags %}
<form>
  <button type="submit" formaction="{%url account_list%}" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Account list</button>
</form>
{% endif %}

<div class="skip-sm"></div>

<table class="table">
	<tr>
		<th>Full name:</th>
		<td>{{account.realname}}</td>
	</tr>
	<tr>
		<th>Origin:</th>
		<td>{{account.origin}}</td>
	</tr>
	<tr>
		<th>Organization:</th>
		<td><a href="{%url organization.info account.organization%}">{{organization.description}}</a></td>
	</tr>
	<tr>
		<th>Email:</th>
		<td>
			{% if account.email %}
				<a href="mailto:{{account.email}}">{{account.email}}</a>
			{% else %}
				Not shown
			{% endif %}
		</td>
	</tr>
	<tr>
		<th>Flags:</th>
		<td>
			{% if account.flags %}
				<ul>{{flaglist}}</ul>
			{% else %}
				Not shown
			{% endif %}
		</td>
	</tr>
{% if "new_account" in account.flags %}
	<tr>
		<th>Reason for registering:</th>
		<td>{{account.reason}}</td>
	</tr>
{% endif %}
</table>

<div class="skip-sm"></div>

{% load tomato %}

<form>
{% if "new_account" in account.flags and request.session.user|args:account.organization|call:"isAdmin" %}
  <button type="submit" formaction="{%url account.accept id=account.id%}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> accept account</button>
{% endif %}  
{% if "orga_admin" in request.session.user.flags or "global_admin" in request.session.user.flags or account.id == request.session.user.id %}
  <button type="submit" formaction="{%url account.edit id=account.id%}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> edit account</button>
{% endif %}
{% if "orga_admin" in request.session.user.flags or "global_admin" in request.session.user.flags %}
  <button type="submit" formaction="{%url account.remove id=account.id%}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> remove account</button>
{% endif %}
</form>

{% endblock %}