{% extends "admin/base.html" %}

{% load tomato %}

{% block content %}

<h1>Confirm Removal</h1>

Are you sure you want to remove the user {{username}} ?
<form action="{%url account.remove username%}" method="post">
{{form.as_p}}
<button type="button" onclick="history.back()" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
<button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-trash"></span> Remove account</button>

</form>

{% endblock %}
