<!DOCTYPE html>
<html>
    <head>
    <base href="/static/novnc/"/>
    <title>{{info.name}} ({{top.name}})</title>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <link rel="stylesheet" href="include/base.css" title="plain">
        <script src="include/vnc.js"></script>
        <script src="/js/jquery.min.js"></script>
    </head>
	<style>
	#noVNC_screen {
		border: 0px !important;
		border-bottom-right-radius: 0 0 !important;
	}
	</style>
    <body style="margin: 0px;">
        <div id="noVNC_screen">
            <div id="noVNC_status_bar" class="noVNC_status_bar" style="margin: 0px; height: 35px;">
                <table border=0 width="100%"><tr>
                    <td><div id="noVNC_status">Loading</div></td>
                    <td width="1%"><div id="noVNC_buttons" style="white-space: nowrap;">
                        <input type=button value="Send CtrlAltDel" id="sendCtrlAltDelButton">
                    </div></td>
                </tr></table>
            </div>
            <canvas id="noVNC_canvas" width="640px" height="20px" style="margin: 0px;">
                Canvas not supported.
            </canvas>
        </div>
        <script>
        /*jslint white: false */
        /*global window, $, Util, RFB, */
        "use strict";

        var rfb;
        var host = '{{info.host_info.address}}';
        var port = {{info.websocket_port}};
        var password = '{{info.vncpassword}}';
		var ssl = window.location.protocol === "https:";

        function sendCtrlAltDel() {
            rfb.sendCtrlAltDel();
            return false;
        }
        function updateState(rfb, state, oldstate, msg) {
            var s, sb, cad, level;
            s = $D('noVNC_status');
            sb = $D('noVNC_status_bar');
            cad = $D('sendCtrlAltDelButton');
            switch (state) {
                case 'failed':       level = "error";  break;
                case 'fatal':        level = "error";  break;
                case 'disconnected': level = "normal"; break;
                case 'loaded':       level = "normal"; break;
                case 'normal':       
                	level = rfb.get_encrypt() ? "secure" : "normal";
                	break;
                default:             level = "warn";   break;
            }

            cad.disabled = (state !== "normal");
            
            if (state === "failed" && rfb.get_encrypt()) {
            	rfb.set_encrypt(false);
            	window.setTimeout("connect()", 1000);
				var workaround = $('<input type=button value="SSL workaround">');
				workaround.click(function() {
					alert("Please clear any certificate problems on the following site and then reload the console window.");
					window.open('https://'+host+':'+port);
				});
				$("#noVNC_buttons").append(workaround);
            }

            if (typeof(msg) !== 'undefined') {
                sb.setAttribute("class", "noVNC_status_" + level);
                s.innerHTML = msg;
            }
            
            if (state === 'normal') {
            	var height = $D('noVNC_canvas').height + 35 + 5;
				var width = $D('noVNC_canvas').width;
				height += window.outerHeight - window.innerHeight;
				width += window.outerWidth - window.innerWidth;
				window.resizeTo(width, height);
				console.log(width, height);
			}
        }
        function connect() {
           	rfb.connect(host, port, password, 'websockify');
        }
        window.onload = function () {
            $D('sendCtrlAltDelButton').style.display = "inline";
            $D('sendCtrlAltDelButton').onclick = sendCtrlAltDel;

           	rfb = new RFB({'target':       $D('noVNC_canvas'),
               	           'encrypt':      WebUtil.getQueryVar('encrypt', ssl),
                   	       'repeaterID':   WebUtil.getQueryVar('repeaterID', ''),
                       	   'true_color':   WebUtil.getQueryVar('true_color', true),
                           'local_cursor': WebUtil.getQueryVar('cursor', true),
   	                       'shared':       WebUtil.getQueryVar('shared', true),
       	                   'view_only':    WebUtil.getQueryVar('view_only', false),
           	               'onUpdateState':  updateState});
            connect();
        };
        </script>
    </body>
</html>