<html>
<head>
<link href="/style/style.css" rel="stylesheet" type="text/css" /> 
<link rel="shortcut icon" type="image/x-icon" href="//www.german-lab.de/favicon.ico" />
<style type="text/css">
	body {
		min-width:0px;
		}
		
	
	
	
	
	div.box {
		padding: 20px;
		}
		
	div.status {
		font-size: 40;
		background-repeat:no-repeat;
		background-position:left center;
		padding-left:40px;
		}
		
	div.running {
		color: blue;
		background-image:url('/img/loading_big.gif');
		}
	div.done {
		font-weight: bold;
		color: green;
		background-image:url('/img/tick32.png');
		}
	div.crashed {
		font-weight: bold;
		color: red;
		background-image:url('/img/cross32.png');
		}
		
		
		
		
		
	pre {
		border: 1px solid black;
		padding:2px;
		}
</style>
</head>
<body>

<h1 id="heading">Element {{id}}: RexTFV Status</h1>

<div class="box">
	<h2>Element Info:</h2>
	<table>
		<tr><td>Element Name:</td><td id="element_name" /></tr>
		<tr><td>Topology:</td><td id="topology_name"></td></tr>
		<tr><td>Last Update:</td><td id="info_age"></td></tr>
		<tr><td>RexTFV status available:</td><td id="rextfv_readable" /></tr>
	</table>
</div>

<div class="box" id="overall_status_p"></div>

<div class="box">
	<b>Custom Status:</b>
	<pre id="custom_status"></pre>
</div>


<script language="javascript">

ElementID = "{{id}}";

function doAjaxCall(url,successfn) {
	var xmlhttp=new XMLHttpRequest();
	xmlhttp.open("GET",url,true);
	xmlhttp.onreadystatechange = function() {
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
			successfn(JSON.parse(xmlhttp.responseText)['result'])
	};
	xmlhttp.send();
}

//urls for ajax calls
function ElementInfoURL(){return "/ajax/element/"+ElementID+"/info"}
function TopologyInfoURL(top_id){return "/ajax/topology/"+top_id+"/info"}

//auto-refresh process. timer initited by initWindow().
function updateRexTFVStatus() {
	doAjaxCall(ElementInfoURL(),function(element_info){
		console.log(element_info);
		var info_date = new Date(element_info['info_last_sync'] * 1000);
		document.getElementById("info_age").innerHTML = info_date.toLocaleTimeString() + " &nbsp; " + /\((.*)\)/.exec(info_date.toString())[1];
		
		rextfv_status = element_info['rextfv_run_status'];
		if (element_info['state'] == 'started') {
			s = rextfv_status;
			if (s['readable']) {
				document.getElementById('rextfv_readable').innerHTML = "Yes"
				document.getElementById('overall_status_p').innerHTML = '<h2>RexTFV Status:</h2><div id="overall_status"></div>';	
				if (s['isAlive'])
					document.getElementById('overall_status').innerHTML='<div class="status running">Running</div>'
				else
					if (s['done'])
						document.getElementById('overall_status').innerHTML='<div class="status done">Finished</div>'
					else
						document.getElementById('overall_status').innerHTML='<div class="status crashed">Unknown.<br/>Probably Crashed.</div>';
				if (s['custom']) {
					document.getElementById('custom_status').innerHTML = s['custom'];
				} else {
					document.getElementById('custom_status').innerHTML = "None";
				}
			} else {
				document.getElementById('rextfv_readable').innerHTML = "No (no information)";
				document.getElementById('overall_status_p').innerHTML = "";	
			}
		} else {
			document.getElementById('rextfv_readable').innerHTML = "No (element stopped)";
			document.getElementById('overall_status_p').innerHTML = "";
		}
	});
}

//called once. fetches permanent info and starts the auto refresh process.
function initWindow() {
	doAjaxCall(ElementInfoURL(),function(info){
		elName = info['name'];
		document.title = "Element "+elName+": RexTFV Status";
		document.getElementById('heading').innerHTML = document.title;
		document.getElementById('element_name').innerHTML = elName;
		
		doAjaxCall(TopologyInfoURL(info['topology']),function(topinfo){
			document.getElementById('topology_name').innerHTML = topinfo['name'];
		});
		
		if (info['rextfv_supported']) {//this shouldn't be called by the user if not rextfv_supported. However, this can be called by url.
			updateRexTFVStatus();
			setInterval(updateRexTFVStatus, 1200);
		} else
			document.getElementById('rextfv_readable').innerHTML = "not supported";
	})
}

document.onload = initWindow();

</script>

</body>
</html>