Source: tomato-hostserver
Section: misc
Priority: extra
Maintainer: Andreas Teuchert <ant+devel@unix-ag.uni-kl.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3

Package: tomato-hostserver
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, daemon, python, python-configobj
Description: ToMaTo hostserver
 This server allows remote clients to upload and download files to/from a
 dedicated directory. All file operations are secured by hash values called
 grants. Grants are calculated using a shared secret called secret key.
