{% extends "base.html" %}

{% block menu_top %}
<ul>
	<li class="active"><a href="{%url top.index%}">Topologies</a></li>
	<li><a href="{%url host.index%}">Admin</a></li>
	<li><a href="{%url main.project%}" target="_help">Project</a></li>
	<li><a href="{%url main.help%}" target="_help">Help</a></li>
	<li><a href="{%url main.ticket%}" target="_ticket">Create Ticket</a></li>
</ul>
{% endblock %}

{% block left %}
<div id="sidemenu">
	<h2>Topologies</h2>
	<ul>
		<li><a href="{%url top.create%}">create new topology</a></li>
		<li><a href="{%url top.index%}">list of all topologies</a></li>
		<li><a href="{%url top.import_form%}">import topology</a></li>
	</ul>
</div>

{% if top_id %}
<div id="sidemenu">
	<h2>Topology {{top_id}}</h2>
	<ul>
		<li><a href="{%url top.show top_id%}">show</a> (<a href="{%url top.show top_id%}?format=json">json</a>)</li>
		<li><a href="{%url top.edit top_id%}">edit</a></li>
		<li><a href="{%url top.remove top_id%}" onclick="javascript:return confirm('Are you sure? The topology definition will be deleted!')">remove</a></li>
	</ul>
</div>
{% endif %}
{% endblock %}