<html>
  <head>
    <title>VNC Viewer</title>
    <meta content="">
    <style></style>
    <script src="/static/jsui/jQuery-min.js"></script>
    <script language="javascript"><!--
function getUrlVars() {
	var map = {};
	var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
		map[key] = decodeURI(value);
	});
	return map; 
}    
        
function wresize() {
	try {
		var ps = document.vncapp.getPreferredSize();
		if (ps.width > 100 && ps.height > 100) {
			document.vncapp.width = ps.width;
			document.vncapp.height = ps.height;
			var applet = $(document.vncapp);
			var height = applet.outerHeight();
			var width = applet.outerWidth();
			height += window.outerHeight - window.innerHeight;
			width += window.outerWidth - window.innerWidth;
			window.resizeTo(width, height);
		}
	} finally {
		setTimeout ("wresize()", 1000);
	}
}

function showConsole() {
	params = getUrlVars();
	var applet = $('<applet name="vncapp" code="VncViewer.class" archive="/static/VncViewer.jar" width="745" height="400">');
	applet.append($('<param name="HOST" value="'+params.host+'">'));
	applet.append($('<param name="PORT" value="'+params.port+'">'));
	applet.append($('<param name="PASSWORD" value="'+params.password+'">'));
	applet.append($('<param name="Show Controls" value="Yes">'));
	$('body').append(applet);
	document.title = params.topology + " - " + params.device; 
	setTimeout ("wresize()", 1000);
}
--></script>
</head>
<body style="margin:0px;overflow='hidden'" onLoad="showConsole()">
</body>
</html>
