{% extends "top/base.html" %}

{% block content %}
{% if top_id %}
{% if edit %}
<h1>Edit topology {{top_id}}</h1>
{% else %}
<h1>Definition of topology {{top_id}}</h1>
{% endif %}
{% else %}
<h1>Creation of new topology</h1>
{% endif %}
<a href="{%url main.help "BuildUi"%}" target="_help">Editor help</a><br/>
<script src="/static/jsui/jQuery-min.js"></script>
<script src="/static/jsui/jQuery-ui-min.js"></script>
<script src="/static/jsui/raphael-min.js"></script>
<script src="/static/jsui/util.js"></script>
<script src="/static/jsui/editor.js"></script>

<div id="javascript-error">
	Please enable javascript in your browser!
</div>
<script><!-- 
$("#javascript-error").hide();
//--></script> 

<div id="editor" style="width:800px;height:600px;{% if edit %}border:2px solid #911A20;{% endif %}"></div>
<script><!--
basepath="/static/jsui/";
ajaxpath="/ajax/";
topid="{{top_id}}";
$("head").append($('<link href="'+basepath+'glabdesign/jquery-ui-custom.css" rel="stylesheet" type="text/css" />'));

editor = new Editor({x:800, y:600}, {% if edit %}true{% else %}false{% endif %});

editor.setTemplatesOpenVZ({% if tpl_openvz %}"{{tpl_openvz}}".split(","){% else %}[]{% endif %});
editor.setTemplatesKVM({% if tpl_kvm %}"{{tpl_kvm}}".split(","){% else %}[]{% endif %});
editor.setHostGroups({% if host_groups %}"{{host_groups}}".split(","){% else %}[]{% endif %});

var special_features = {};
var sf_data = {% if special_features %}"{{special_features}}".split(","){% else %}[]{% endif %};
for (var i=0; i < sf_data.length; i++) special_features[sf_data[i].split(":")[0]] = sf_data[i].split(":")[1].split("|");
editor.setSpecialFeatures(special_features);

editor.loadTopology();
//--></script>
{% endblock %}