{% extends "top/base.html" %}

{% block content %}
<h1>List of topologies</h1>

{% if top_list %}
<script src="/static/enhancetable.js"></script>
<table class="sortable,filterable">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Owner</th>
    <th>State</th>
    <th>Devices</th>
    <th>Connectors</th>
  </tr>
{% for top in top_list %}
  <tr>
    <td>{{top.id}}</td>
    <td><a href="{%url top.show top.id%}">{{top.attrs.name}}</a></td>
    <td>{{top.attrs.owner}}</td>
    <td>{{top.attrs.state}}</td>
    <td>{{top.attrs.device_count}}</td>
    <td>{{top.attrs.connector_count}}</td>
  </tr>
{% endfor %}
</table>
{% else %}
Currently you do not have any topologies you can access. Click on "create new topology" to create one.
{% endif %}
{% endblock %}
