{% extends "top/base.html" %}

{% block content %}
<h1>Permissions for topology "{{top.name}}" [{{top.id}}] </h1>
<a href="{%url main.help "PermissionSystem"%}" target="_help">Permission help</a>
<script src="/static/enhancetable.js"></script>
<table class="sortable,filterable">
	<tr>
		<th>User</th>
		<th>Role</th>
		<th>Actions</th>
	</tr>
{% for user, role in top.permissions.items %}
	<tr>
		<td>{{user}}</td>
		<td>{{role}}</td>
		<td>{% if role != "owner" %}<a href="{%url top.permission_set top_id=top_id%}?user={{user}}&role="><img src="/static/icons/user_delete.png" alt="remove permission" title="remove permission"/></a>{% endif %}</td>		
	</tr>
{% endfor %}
	<tr>
		<form action="{%url top.permission_set top_id=top_id%}" method="POST">
		<td><input type="text" name="user"/></td>
		<td><select name="role"><option>manager</option><option>user</option></select></td>
		<td><input type="submit" value="Add permission"/></td>		
		</form>
	</tr>
</table>
{% endblock %}
