{% extends "base.html" %}

{% block menu_top %}
<ul>
	<li class="active"><a href="{%url top.index%}">Topologies</a></li>
	<li><a href="{%url host.index%}">Hosts</a></li>
	<li><a href="{%url main.help%}">Help</a></li>
	<li><a href="{%url main.logout%}">Logout</a></li>
</ul>
{% endblock %}

{% block left %}
<div id="sidemenu">
	<h2>Topologies</h2>
	<ul>
		<li><a href="{%url top.create%}">create new topology</a></li>
		<li><a href="{%url top.index%}">list of all topologies</a></li>
	</ul>
</div>
{% endblock %}