{% extends "base.html" %}

{% block menu_top %}
<ul>
	<li class="active"><a href="{%url top.index%}">Topologies</a></li>
	<li><a href="{%url host.index%}">Admin</a></li>
	<li><a href="{%url main.help%}">Help</a></li>
</ul>
{% endblock %}

{% block left %}
<div id="sidemenu">
	<h2>Topologies</h2>
	<ul>
		<li><a href="{%url top.create%}">create new topology</a></li>
		<li><a href="{%url top.index%}">list of all topologies</a></li>
	</ul>
</div>

{% if top_id %}
<div id="sidemenu">
	<h2>Topology {{top_id}}</h2>
	<ul>
		<li><a href="{%url top.details top_id%}">details</a></li>
		<li><a href="{%url top.showxml top_id%}">show XML</a></li>
		<li><a href="{%url top.showxml top_id%}?plain">download XML</a></li>
		<li><a href="{%url top.edit top_id%}?editor=xml">edit XML</a></li>
		<li><a href="{%url top.edit top_id%}">edit</a></li>
		<li><a href="{%url top.remove top_id%}" onclick="javascript:return confirm('Are you sure? The topology definition will be deleted!')">remove</a></li>
	</ul>
</div>

<div id="sidemenu">
	<h2>Deployment</h2>
	<ul>
		<li><a href="{%url top.start top_id%}">start</a></li>
		<li><a href="{%url top.stop top_id%}">stop</a></li>
		<li><a href="{%url top.prepare top_id%}">prepare</a></li>
		<li><a href="{%url top.destroy top_id%}" onclick="javascript:return confirm('Are you sure? All device data will be lost!')">destroy</a></li>
	</ul>
</div>
{% endif %}
{% endblock %}