{% extends "top/base.html" %}

{% block content %}
<h1>Detail view of topology "{{top.name}}" [{{top.id}}] </h1>
<!-- %%%GLABNETMAN%%%TOPOLOGY%%%{{top.id}}%%%{{task_id}}%%% -->

Owner: {{top.owner}}<br/>
Created: {{top.date_created}}, modified: {{top.date_modified}}<br/>
Devices: {{top.device_count}}<br/>
Connectors: {{top.connector_count}}<br/>
<br/>

<ul class="topology_analysis">
{% for p in top.analysis.problems %}
<li class="problem">Problem: {{p}}</li>
{% endfor %}

{% for w in top.analysis.warnings %}
<li class="warning">Warning: {{w}}</li>
{% endfor %}

{% for h in top.analysis.hints %}
<li class="hint">Hint: {{h}}</li>
{% endfor %}
</ul>

<script language="javascript"><!--
function console (url) {
    var nw = window.open(url, '_blank', "innerWidth=745,innerheight=400");
    nw.focus();
}
--></script>

<table>
	<tr>
		<th>Device ID</th>
		<th>Type</th>
		<th>Host</th>
		<th>State</th>
		<th>Actions</th>
	</tr>
{% for name, dev in top.devices %}
	<tr>
		<td>{{dev.id}}</td>
		<td>{{dev.type}}</td>
		<td>{{dev.host}}</td>
		<td>{{dev.state}}</td>
		<td>
{% if dev.is_prepared %}
		<a href="{%url top.dev_start top_id=top_id device_id=dev.id%}"><img src="/static/icons/start.png" alt="start" title="start"/></a>
{% endif %}
{% if dev.is_prepared or dev.is_started %}
		<a href="{%url top.dev_stop top_id=top_id device_id=dev.id%}"><img src="/static/icons/stop.png" alt="stop" title="stop"/></a>
{% endif %}
{% if dev.is_created %}
		<a href="{%url top.dev_prepare top_id=top_id device_id=dev.id%}"><img src="/static/icons/prepare.png" alt="prepare" title="prepare"/></a>
{% endif %}		
{% if dev.is_prepared or dev.is_created %}
		<a href="{%url top.dev_destroy top_id=top_id device_id=dev.id%}"><img src="/static/icons/destroy.png" alt="destroy" title="destroy"/></a>
{% endif %}
{% if dev.is_started and dev.vnc_port %}
		<a href="javascript:console('{%url top.vncview top_id=top.id device_id=dev.id%}');"><img src="/static/icons/console.png" alt="console" title="console"/></a>
{% endif %}
{% if dev.upload_supported %}
		<a href="{%url top.upload_image top_id=top_id device_id=dev.id%}"><img src="/static/icons/upload-image.png" alt="upload image" title="upload image"/></a>
{% endif %}
{% if dev.download_supported %}
		<a href="{%url top.download_image top_id=top_id device_id=dev.id%}"><img src="/static/icons/download-image.png" alt="download image" title="download image"/></a>
{% endif %}
		</td>		
	</tr>
{% endfor %}
</table>

<br/><br/>

<table>
	<tr>
		<th>Connector ID</th>
		<th>Type</th>
		<th>State</th>
		<th>Actions</th>
	</tr>
{% for name, con in top.connectors %}
	<tr>
		<td>{{con.id}}</td>
		<td>{{con.type}}</td>
		<td>{{con.state}}</td>
		<td>
{% if con.is_prepared %}
		<a href="{%url top.con_start top_id=top_id connector_id=con.id%}"><img src="/static/icons/start.png" alt="start" title="start"/></a>
{% endif %}
{% if con.is_prepared or con.is_started %}
		<a href="{%url top.con_stop top_id=top_id connector_id=con.id%}"><img src="/static/icons/stop.png" alt="stop" title="stop"/></a>
{% endif %}
{% if con.is_created %}
		<a href="{%url top.con_prepare top_id=top_id connector_id=con.id%}"><img src="/static/icons/prepare.png" alt="prepare" title="prepare"/></a>
{% endif %}		
{% if con.is_prepared or con.is_created %}
		<a href="{%url top.con_destroy top_id=top_id connector_id=con.id%}"><img src="/static/icons/destroy.png" alt="destroy" title="destroy"/></a>
{% endif %}
		</td>		
	</tr>
{% endfor %}
</table>

{% if action %}
<h2>Executing {{action}} ...</h2>
<iframe width="80%" height="60%" frameborder="0" src="{%url main.task_status task_id%}?backurl={%url top.details top_id%}"></iframe>
{% endif %}

{% endblock %}
