{% extends "top/base.html" %}

{% block content %}
{% if top_id %}
{% if edit %}
<h1>Edit topology {{top_id}}</h1>
{% else %}
<h1>Definition of topology {{top_id}}</h1>
{% endif %}
{% else %}
<h1>Creation of new topology</h1>
{% endif %}
<a href="{%url main.help "BuildUi"%}" target="_blank">Editor help</a><br/>
<applet code="buildui/Netbuild.class" archive="/static/buildui.jar" width=800 height=600>
{% if edit %}
	<param name="upload_url" value="{% if top_id %}{%url top.edit top_id%}{% else %}{%url top.create%}{% endif %}">
{% endif %}
{% if top_id %}
	<param name="download_url" value="{%url top.show top_id%}?format=plain">
{% endif %}
	<param name="back_url" value="{%url top.details 12345 %}">
	<param name="auth" value="{{auth}}"/>
	<param name="tpl_openvz" value="{{tpl_openvz}}"/>
	<param name="tpl_kvm" value="{{tpl_kvm}}"/>
	<param name="host_groups" value="{{host_groups}}"/>
	<p>
	The applet should be right here. Must be an error or something.
	Please check that you hava a java plugin installed and activated in your browser.
	You can check your plugin <a href="http://www.javatester.org/version.html">here</a>.
	</p>
</applet>
{% endblock %}