{% extends "top/base.html" %}

{% block content %}
{% if top_id %}
<h1>Edit topology {{top_id}}</h1>
{% else %}
<h1>Creation of new topology</h1>
{% endif %}
<applet code="buildui/Netbuild.class" archive="/static/buildui.jar" width=800 height=600>
	<param name="upload_url" value="{% if top_id %}{%url top.edit top_id%}{% else %}{%url top.create%}{% endif %}">
{% if top_id %}
	<param name="download_url" value="{%url top.showxml top_id%}?plain">
{% endif %}
	<param name="back_url" value="{%url top.details 12345 %}">
	<param name="auth" value="{{auth}}"/>
	<param name="tpl_openvz" value="{{tpl_openvz}}"/>
	<param name="tpl_kvm" value="{{tpl_kvm}}"/>
	<param name="host_groups" value="{{host_groups}}"/>
	<pre>The applet should be right here. Must be an error or something.</pre>
</applet>
{% endblock %}