{% extends "top/base.html" %}

{% block content %}
<h1>List of topologies</h1>

{% if top_list %}
<script src="/static/sorttable.js"></script>
<table class="sortable">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Owner</rh>
    <th>Devices</rh>
    <th>Connectors</rh>
  </tr>
{% for top in top_list %}
  <tr>
    <td>{{top.id}}</td>
    <td><a href="{%url top.details top.id%}">{{top.name}}</a></td>
    <td>{{top.owner}}</td>
    <td>{{top.device_count}}</td>
    <td>{{top.connector_count}}</td>
  </tr>
{% endfor %}
</table>
{% else %}
Currently you do not have any topologies you can access. Click on "create new topology" to create one.
{% endif %}
{% endblock %}
