{% extends "base.html" %}

{% block menu_top %}
<ul>
	<li><a href="{%url top.index%}">Topologies</a></li>
	<li class="active"><a href="{%url host.index%}">Admin</a></li>
	<li><a href="{%url main.help%}" target="_help">Help</a></li>
	<li><a href="{%url main.ticket%}" target="_ticket">Create Ticket</a></li>
</ul>
{% endblock %}

{% block left %}
<div id="sidemenu">
	<h2>Hosts</h2>
	<ul>
		<li><a href="{%url host.index%}">list of all hosts</a></li>
		<li><a href="{%url host.edit%}">add new host</a></li>
	</ul>
</div>

<div id="sidemenu">
	<h2>Templates</h2>
	<ul>
		<li><a href="{%url template.index%}">list of all templates</a></li>
		<li><a href="{%url template.add%}">add new template</a></li>
	</ul>
</div>

<div id="sidemenu">
	<h2>Statistics</h2>
	<ul>
		<li><a href="{%url main.physical_links%}">physical link statistics</a></li>
		<li><a href="{%url main.resource_usage_by_topology%}">resource usage (top)</a></li>
		<li><a href="{%url main.resource_usage_by_user%}">resource usage (user)</a></li>
	</ul>
</div>

<div id="sidemenu">
	<h2>Tasks</h2>
	<ul>
		<li><a href="{%url main.task_list%}">list of all tasks</a></li>
	</ul>
</div>

<div id="sidemenu">
	<h2>Errros</h2>
	<ul>
		<li><a href="{%url main.error_list%}">list of all errors</a></li>
	</ul>
</div>
{% endblock %}