{% extends "base.html" %}

{% block menu_select %}
<script language="JavaScript" type="text/javascript">
document.getElementById("menu_item_admin").className="active";
</script>
{% endblock %}

{% block left %}
<div id="sidemenu">
	<h2>Hosts</h2>
	<ul>
		<li><a href="{%url host.index%}">Hosts</a></li>
		<li><a href="{%url site.index%}">Sites</a></li>
		<li><a href="{%url organization.index%}">Organizations</a></li>
	</ul>
</div>

<div id="sidemenu">
	<h2>Virtual Devices</h2>
	<ul>
		<li><a href="{%url device_templates.index%}">Templates</a></li>
		<li><a href="{%url device_profile.index%}">Device profiles</a></li>
	</ul>
</div>

<div id="sidemenu">
	<h2>External Networks</h2>
	<ul>
		<li><a href="{%url external_networks.index%}">External networks</a></li>
		<li><a href="{%url external_network_instances.index%}">External network instances</a></li>
	</ul>
</div>

<div id="sidemenu">
	<h2>Accounts</h2>
	<ul>
		<li><a href="{%url account.index%}">Account list</a></li>
	</ul>
</div>

<div id="sidemenu">
	<h2>Statistics</h2>
	<ul>
		<li><a href="{%url physical_link_stats.index%}">Physical links</a></li>
		<li><a href="{.%url main.resource_usage_by_user%}">Resource usage</a></li>
	</ul>
</div>
{% endblock %}