{% extends "admin/base.html" %}

{% block content %}
<h1>List of device profiles <a href="{%url device_profile.add%}"><img src="/static/icons/add.png" alt="add" title="add"/></a></h1>

{% if profiles.kvm or profiles.openvz or profiles.prog %}
<h2>KVM profiles</h2>
<ul>
{% for prfl in profiles.kvm %}
<li><a href="{%url device_profile.detail prfl.type prfl.name %}">{{prfl.name}}</a> {% if prfl.default %}<b>(default)</b>{% endif %}</li>
{% endfor %}
</ul>

<h2>OpenVZ profiles</h2>
<ul>
{% for prfl in profiles.openvz %}
<li><a href="{%url device_profile.detail prfl.type prfl.name %}">{{prfl.name}}</a> {% if prfl.default %}<b>(default)</b>{% endif %}</li>
{% endfor %}
</ul>

<h2>Repy profiles</h2>
<ul>
{% for prfl in profiles.prog %}
<li><a href="{%url device_profile.detail prfl.type prfl.name %}">{{prfl.name}}</a> {% if prfl.default %}<b>(default)</b>{% endif %}</li>
{% endfor %}
</ul>
{% else %}
No device profiles registered, click on <a href="{%url device_profile.add%}"><img src="/static/icons/add.png" alt="add" title="add"/></a> to add one.
{% endif %}

{% endblock %}
