{% extends "admin/base.html" %}

{% block content %}
<h1>Error list</h1>
<a href="{%url main.error_remove "" %}">[remove all errors]</a><br/>
{% for error in errors %}
<h2>{{error.title}} <a href="{%url main.error_remove error.id %}"><img src="/static/icons/bug_delete.png" alt="remove" title="remove"/></a></h2>
Type: {{error.type}} <br/>
{% if error.occurrences > 1 %}
Occurrences: {{error.occurrences}} <br/>
First occurence: {{error.date_first}} <br/>
Last occurence: {{error.date_last}} <br/>
{% else %}
Date: {{error.date_first}} <br/>
{% endif %}
<pre>
{{error.message}}
</pre>
{% empty %}
No errors
{% endfor %}
{% endblock %}