{% extends "admin/base.html" %}

{% block content %}
{% if task_id %}
<h1>Adding {{hostname}}</h1>
<iframe width="80%" height="60%" frameborder="0" src="{%url main.task_status task_id%}?backurl={%url host.detail hostname=hostname%}"></iframe>
{% else %}
{% if edit_host %}
<h1>Edit host {{edit_host}}</h1>
{% else %}
<h1>Add new host</h1>
{% endif %}
<form method="POST">
<table>
{{form.as_table}}
</table>
	<input type="submit"/>
</form>
<h2>Public key</h2>
Please save <a href="{%url host.public_key %}">this key</a> to a file and add it to the host via 
<pre>ssh root@HOSTNAME "umask 077; test -d ~/.ssh || mkdir ~/.ssh ; cat >> ~/.ssh/authorized_keys" < KEYFILE</pre>
Note: HOSTNAME and KEYFILE are placeholders for the name or address of the host and the path of the downloaded key file.
{% endif %}
{% endblock %}