{% extends "admin/base.html" %}

{% block content %}
<h1>Host {{host.name}}</h1>

<h2>Actions</h2>
<a href="{%url host.remove hostname=host.name%}" onclick="javascript:return confirm('Are you sure? All devices on this host will be lost!')"><img src="/static/icons/delete.png" alt="remove" title="remove"/> remove</a><br/>
<a href="{%url top.index host_filter=host.name%}"><img src="/static/icons/view_list.png" alt="all topologies" title="all topologies"/> all topologies</a><br/>
<a href="{%url host.debug host.name%}"><img src="/static/icons/chart_bar.png" alt="debug info" title="debug info"/> debug info</a><br/>
<a href="{%url host.check host.name%}"><img src="/static/icons/magnifier.png" alt="check host" title="check host"/> check host</a><br/>
<a href="{%url host.update host.name%}"><img src="/static/icons/update.png" alt="check host" title="update host"/> update host</a><br/>

<h2>Settings <a href="{%url host.edit hostname=host.name%}"><img src="/static/icons/edit.png" alt="edit" title="edit"/></a></h2>
<table>
  <tr><td>Group:</td><td>{{host.group}}</td></tr>
  <tr><td>Enabled:</td><td>{{host.enabled}}</td></tr>
  <tr><td>Port range:</td><td>{{host.port_start}} - {{host.port_start|add:host.port_count}}</td></tr>
  <tr><td>VMID range:</td><td>{{host.vmid_start}} - {{host.vmid_start|add:host.vmid_count}}</td></tr>
  <tr><td>Bridge range:</td><td>{{host.bridge_start}} - {{host.bridge_start|add:host.bridge_count}}</td></tr>
</table>

<h2>External networks</h2>
<table>
  <tr>
    <th>Type</th>
    <th>Group</th>
    <th>Bridge</th>
    <th>Actions</th>
  </tr>
{% for en in host.external_networks %}
  <tr>
    <td>{{en.type}}</td>
    <td>{{en.group}}</td>
    <td>{{en.bridge}}</td>
    <td><a href="{%url external_networks.remove_bridge type=en.type group=en.group hostname=host.name%}"><img src="/static/icons/delete.png" alt="remove" title="remove"/></a></td>
  </tr>
{% endfor %}
<form action="{%url external_networks.add_bridge%}">
  <tr>
    <td colspan="2"><select name="typegroup">
{% for en in external_networks %}
	<option value="{{en.type}}:{{en.group}}">{{en.type}} ({{en.group}})</option>
{% endfor %}    
    </select></td>
    <td><input name="bridge"/></td>
    <td><input type="hidden" name="origin" value="h"/><input type="hidden" name="host" value="{{host.name}}"/><input type="submit" value="Add"/></td>
  </tr>
</form>
</table>
{% endblock %}