{% extends "admin/base.html" %}

{% block content %}

{% if task %}
<h1>Task: {{taskname}}</h1>
<iframe width="80%" height="60%" frameborder="0" src="{%url main.task_status task%}"></iframe>
{% endif %}

<h1>List of hosts <a href="{%url host.edit%}"><img src="/static/icons/add.png" alt="add" title="add"/></a></h1>

{% if host_list %}
<script src="/static/enhancetable.js"></script>
<table class="sortable,filterable">
	<tr>
		<th>Host</th>
		<th>Group</th>
		<th>enabled</th>
		<th>Devices</th>
	</tr>
{% for host in host_list %}
	<tr>
		<td><a href="{%url host.detail hostname=host.name%}">{{host.name}}</a></td>
		<td>{{host.group}}</td>
		<td>{{host.enabled}}</td>
		<td>{{host.device_count}}</td>
	</tr>
{% endfor %}
</table>
{% else %}
No hosts registered, click on <a href="{%url host.edit%}"><img src="/static/icons/add.png" alt="add" title="add"/></a> to add one.
{% endif %}

{% endblock %}
