{% extends "admin/base.html" %}

{% block content %}
<script src="/static/enhancetable.js"></script>

<h1>Resource usage by {% if by_user %}user{% else %}topology{% endif %}</h1>
<table class="sortable,filterable">
	<tr>
		<th>{% if by_user %}User{% else %}Topology{% endif %}</th>
		<th>Disk space</th>
		<th>Memory</th>
		<th>Traffic</th>
		<th>Ports</th>
		<th>Special</th>
	</tr>
{% for name, res in usage %}
	<tr>
		<td><a href="{% if by_user %}{%url top.index%}?owner_filter={{name}}{%else%}{%url top.show res.top_id%}{%endif%}">{{name}}</a></td>
		<td enhancetable_customkey="{{res.disk}}">{{res.disk|filesizeformat}}</td>
		<td enhancetable_customkey="{{res.memory}}">{{res.memory|filesizeformat}}</td>
		<td enhancetable_customkey="{{res.traffic}}">{{res.traffic|filesizeformat}}</td>
		<td>{{res.ports}}</td>
		<td>{{res.special}}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}
