{% extends "admin/base.html" %}

{% block content %}

<h1>List of special features</h1>

{% for sfg in list %}
<h2>{{sfg.type}} ({{sfg.name}})</h2>
<a href="{%url special_features.change_group type=sfg.type group=sfg.name %}">[edit]</a> 
<a href="{%url special_features.remove_group type=sfg.type group=sfg.name %}">[remove]</a>
<br/>
{% if sfg.max_devices %}Maximal devices: {{sfg.max_devices}}<br/>{% endif %}
Avoid duplicates: {{sfg.avoid_duplicates}}<br/>
Hosts:
<ul>
{% for sf in sfg.instances %}
	<li><a href="{%url host.detail hostname=sf.host %}">{{sf.host}}</a> (Bridge: {{sf.bridge}})</li>
{% endfor %}
</ul>
{% endfor %}
{% endblock %}
