{% extends "admin/base.html" %}

{% block content %}
<h1>List of tasks</h1>

<script src="/static/enhancetable.js"></script>

<table class="sortable,filterable">
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Status</th>
    <th>Subtasks</th>
  </tr>
{% for task in tasks %}
  <tr>
    <td><a href="{%url main.task_status task.id%}">{{task.id}}</a></td>
    <td>{{task.started}}</td>
    <td>{{task.status}}</td>
    <td>{{task.tasks_done}}/{{task.tasks_total}}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
