{% extends "admin/base.html" %}

{% block content %}
<h1>List of templates <a href="{%url template.add%}"><img src="/static/icons/add.png" alt="add" title="add"/></a></h1>

{% if templates.kvm or templates.openvz or templates.prog %}
<h2>KVM templates</h2>
<ul>
{% for tpl in templates.kvm %}
<li><a href="{%url template.detail tpl.type tpl.name %}">{{tpl.name}}</a> {% if tpl.default %}<b>(default)</b>{% endif %}</li>
{% endfor %}
</ul>

<h2>OpenVZ templates</h2>
<ul>
{% for tpl in templates.openvz %}
<li><a href="{%url template.detail tpl.type tpl.name %}">{{tpl.name}}</a> {% if tpl.default %}<b>(default)</b>{% endif %}</li>
{% endfor %}
</ul>

<h2>Repy templates</h2>
<ul>
{% for tpl in templates.prog %}
<li><a href="{%url template.detail tpl.type tpl.name %}">{{tpl.name}}</a> {% if tpl.default %}<b>(default)</b>{% endif %}</li>
{% endfor %}
</ul>
{% else %}
No templates registered, click on <a href="{%url template.add%}"><img src="/static/icons/add.png" alt="add" title="add"/></a> to add one.
{% endif %}

{% endblock %}
