<!DOCTYPE html
	PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html> 
<head> 
 
<link href="/static/style/style.css" rel="stylesheet" type="text/css" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
{% if task.active %}
<meta http-equiv="Refresh" content="1;{%url main.task_status task_id=task.id%}?backurl={{backurl}}" /> 
{% endif %}
</head>
<body onload="window.scrollTo(0,document.body.scrollHeight);">

<b>
Progress: 
{% if task.done %}
done
{% if backurl %}
<script language="javascript"><!--
  function back(){
    window.parent.location = "{{backurl}}"
  }
  setTimeout("back()",1000)
//--></script>
{% endif %}
{% else %}
{{task.status}} {{task.subtasks_done}}/{{task.subtasks_total}}
{% endif %}
</b>

<pre>
{{task.output}}
</pre>

</body>
</html>