<?xml version='1.0' encoding='UTF-8'?>
<kml xmlns='http://www.opengis.net/kml/2.2'>
	<Document>
		<name>ToMaTo Map</name>
		<description></description>
{% for site in sites %}
		<Placemark>
			<styleUrl>#site</styleUrl>
			<name>{{site.displayName}}, {{site.location}} ({{site.name}})</name>
			<description><![CDATA[
			{% if site.description %}
				<p>{{site.description}}</p>
			{% endif %}
			<p>Hosted by:<br />
				{% if site.organization.image_url %}
					<img style="max-width:6cm; max-height:4cm;" src="{{site.organization.image_url}}" title="{{site.organization.description}}" />
				{% else %}
					{{site.organization.description}}
				{% endif %}
				<br />
				<a href="{{site.organization.homepage_url}}">{{site.organization.homepage_url}}</a></p>			
]]></description>
			<Point><coordinates>{{site.geolocation.longitude}},{{site.geolocation.latitude}}</coordinates></Point>
		</Placemark>
{% endfor %}
		<Style id='site'>
			<LabelStyle>
				<color>ff000000</color>
				<scale>1.5</scale>
			</LabelStyle>
			<IconStyle>
				<gx:labelVisibility>1</gx:labelVisibility>
				<scale>1.0</scale>
				<Icon>
					<href>/img/map_site_icon.png</href>
				</Icon>
				<hotSpot x="0.5" y="0.0" xunits="fraction" yunits="fraction"/>
			</IconStyle>
		</Style>
	</Document>
</kml>