.nav {
  margin-bottom: 40pt;
}

.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border-bottom: 1px solid #9c3036;
}

.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  border-bottom: 3px solid #9c3036;
}

.nav-justified > li:first-child > a {
  border-radius: 5px 5px 3px 3px;
}

.nav-justified > li:last-child.active > a {
  border-bottom: 3px solid #9c3036;
}

.table {
	border: 1px solid #c0c0c0;
}
.table > tbody > tr > td {
	font-size:10pt;
}

.carousel-inner .item {
  padding-bottom: 150px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.carousel-inner .item img {
  margin-left: auto;
  margin-right: auto;
}

.carousel-control {
  width: 20px !important;
}

.carousel-inner .carousel-caption, .carousel-control {
  color: #000 !important;
}

.carousel-indicators li {
  border: 1px solid #000 !important;
}

.carousel-indicators li.active {
  background-color: #000 !important;
}

.carousel-control.left {
  background-image: none !important;
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: none !important;
}

#sites img {
  height: 4em;
}

.skip-xs {
  height: 1em;
}

.skip-sm {
  height: 2em;
}

.skip-md {
  height: 4em;
}

.skip-lg {
  height: 6em;
}

img.site {
  max-height: 5em;
  max-width: 100%;
  margin-bottom:auto; margin-top:auto;
}

div.organization {
  box-shadow: 0.5em 0.5em 0.5em grey;
  border: 1px solid #dddddd;
  padding: 1em;
  padding-top:0em;
  padding-bottom:0em;
  margin-bottom:0em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 4px;
}
div.organization h3 {
	margin:0;
}
div.organization div.page-header {
	margin-top:1em;
}

table th {
  font-size: 12px;
}

td,th {
	white-space:nowrap;
}
td dd {
	white-space:normal;
}

.table th, .table td {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

td.icononly, th.icononly {
	width:1%;
	text-align:right;
}


/*
hoverdescription

usage example:

<div class="hoverdescription">
	This is some text.
	<div class="hiddenbox">
		<p>
			This text is hidden by default, and will be shown when the mouse is hovering on the text above.
		</p>
	</div>
</div>
 */

div.hoverdescription {
	display:inline;
}
div.hoverdescription div.hiddenbox {
	display:none;
	font-size: 10pt;
	white-space:nowrap !important;
	z-index: 1000;
}
div.hoverdescription:hover div.hiddenbox {
	display:inline;
	position:absolute;
	margin: 2px;
	margin-left: 0px;
	margin-top: 0px;
	border: 1px solid black;
	background-color: #ffffff;
}
div.hoverdescription:hover div.hiddenbox p {
	padding-left:  15px;
	padding-right: 15px;
}
div.hoverdescription:hover div.hiddenbox td {
	white-space:normal !important;
	padding: 2px;
}
div.hoverdescription:hover div.hiddenbox td p {
	padding-left: 0px;
	font-size:10pt;
	padding-right: 0px;
}

.form-group > table > tbody > tr > td > ul {
	margin-left:0pt;
	padding-left:0pt;
	margin-bottom: 10pt;
}
.form-group > table > tbody > tr > td > ul > li {
	list-style-type: none;
}
.form-group > table > tbody > tr > td > ul > li > label {
	font-weight: normal;
}

/* stddev color */
table td.stddev_high.good_low, table td.stddev_low.good_high,
table td.stddev_veryhigh.good_low, table td.stddev_verylow.good_high {
  color: red !important;
}
table td.stddev_high.good_high, table td.stddev_low.good_low,
table td.stddev_veryhigh.good_high, table td.stddev_verylow.good_low {
  color: green !important;
}
table td.stddev_veryhigh.good_low, table td.stddev_verylow.good_high,
table td.stddev_veryhigh.good_high, table td.stddev_verylow.good_low {
  font-weight: bold;
}

img.preload {
  display: none;
}

div.footer {
	text-align:center;
	padding-top:0.2cm;
	padding-bottom:0px;
}
div.footer ul {
	margin:0px;
	padding:0px;
}
div.footer li {
	display:inline;
	border-left: 1px solid black;
	margin:0px;
	padding-left: 10px;
	padding-right:7px;
}
div.footer li:first-child {
	border-left: 0px;
	margin-left:0px;
	padding-left:0px;
}
div.footer li:last-child {
	margin-right:0px;
	padding-right:0px;
}
div.footer p.version {
	font-size:8pt;
}

a.logobacklink:hover {
	text-decoration:none;
}



/* This makes glyphicons for inputs work */
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}


a.download {
	color: #428bca !important;
}

#javascriptwarning {
	background-color:#ffffaa;
	border-bottom:1px solid black;
	width:100%;
	padding:10px;
	padding-left:30px;
	font-size:13pt;
	margin:0px;
	margin-top:-20px;
	margin-bottom:15px;
}

textarea {
	white-space: nowrap;
}

td.critical-timeout {
	font-weight: bold;
	color:red;
}


/* JQuery UI Updates for Dialogs */
.ui-widget-content {
    border: 1px solid #AAA;
    background: url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #FFF;
    color: #222;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 10pt;
}

.ui-dialog-titlebar {
	border: 1px solid #AAA;
	background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCC;
	color: #222;
	font-weight: bold;
}

.ui-dialog .ui-dialog-titlebar button.ui-state-default {
	border: 1px solid #D3D3D3;
	background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
	font-weight: normal;
	color: #555;
	border-radius: 4px;
	
}
.ui-dialog .ui-dialog-titlebar button.ui-state-hover {
	border: 1px solid #999;
	background: url("images/ui-bg_glass_75_dadada_1x400.png") repeat-x scroll 50% 50% #DADADA;
	font-weight: normal;
	color: #212121;
	
}
.ui-dialog .ui-dialog-titlebar button.ui-state-focus,
.ui-dialog .ui-dialog-titlebar button.ui-state-active {
	border: 1px solid #AAA;
	background: url("images/ui-bg_glass_75_ffffff_1x400.png") repeat-x scroll 50% 50% #FFFFFF;
	font-weight: normal;
	color: #212121;
	
}

.ui-icon-closethick {
	background-image: url("images/ui-icons_888888_256x240.png");
	background-position: -96px -128px;
	background-repeat: no-repeat;
	cursor:pointer;
	display:block;
	font-weight: normal;
	color: #555;
	height:16px;
	width: 16px;
	line-height:13px;
	margin-left: -8px;
	margin-top:-8px;
	top: 9px;
	left: 9px;
}

.ui-widget-overlay {
	background: rgba(200,200,200,0.5);
}

.ui-dialog-buttons .ui-button-text-only {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}


.ui-button-text-only .ui-button-text {
	padding:0px;
	width:100%;
}

.ui-dialog-buttons .ui-button-text-only:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.ui-dialog-buttons .ui-button-text-only:hover {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
  text-decoration: none;
}

.ui-dialog-buttons .ui-button-text-only:active,
.ui-dialog-buttons .ui-button-checked {
  background-image: none;
  outline: 0; button 
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          .ui-button  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}