#menu.ui-ribbon {
  border: none;
}
#menu .ui-ribbon-panel {
  overflow-x: auto;
}
#menu .ui-ribbon-panel ul {
  overflow-y: hidden;
  white-space: nowrap;
  display: inline-table;
}
#menu li.ui-ribbon-group {
  float: none;
  border-top: 1px solid lightGrey/*{borderColorDefault}*/;  
  display: inline-block;
}

#menu.ui-ribbon .ui-ribbon-tabs {
  display: inline-block;  
}


.ui-dialog {
	overflow: visible;
}

.ui-dialog .ui-dialog-content {
	max-height: 800px !important;
}

.ui-widget-overlay {
	background: rgba(200,200,200,0.5);
}

.ui-dialog .ui-dialog-titlebar button.ui-state-default {
	border: 1px solid #D3D3D3;
	background: url("images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
	font-weight: normal;
	color: #555;
	border-radius: 4px;
	
}
.ui-dialog .ui-dialog-titlebar button.ui-state-hover {
	border: 1px solid #999;
	background: url("images/ui-bg_glass_75_dadada_1x400.png") repeat-x scroll 50% 50% #DADADA;
	font-weight: normal;
	color: #212121;
	
}
.ui-dialog .ui-dialog-titlebar button.ui-state-focus,
.ui-dialog .ui-dialog-titlebar button.ui-state-active {
	border: 1px solid #AAA;
	background: url("images/ui-bg_glass_75_ffffff_1x400.png") repeat-x scroll 50% 50% #FFFFFF;
	font-weight: normal;
	color: #212121;
	
}

.ui-icon-closethick {
	background-image: url("images/ui-icons_888888_256x240.png");
	background-position: -96px -128px;
	background-repeat: no-repeat;
	cursor:pointer;
	display:block;
	font-weight: normal;
	color: #555;
	height:16px;
	width: 16px;
	line-height:13px;
	margin-left: -8px;
	margin-top:-8px;
	top: 9px;
	left: 9px;
}

ul {
	margin: 0px;
	margin-before:0px;
	margin-after:0px;
}

#menu.ui-ribbon .ui-ribbon-tabs .ui-ribbon-tab {
	padding: 1px 0px 1px 0px;
	margin: 0px 2px -1px 2px;
	background: #E6E6E6/*{bgColorDefault}*/ url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 0/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
	border-left: 1px solid lightGrey;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-right: 1px solid lightGrey;
	border-top: 1px solid lightGrey;
	border-bottom: 1px solid lightGrey;
	border-collapse: collapse;	
}

#menu.ui-ribbon .ui-ribbon-tabs .ui-ribbon-tab.ui-state-active {
	border-bottom: 1px solid white;
	background: white;
}
.ui-tabs .ui-tabs-nav .ui-state-hover {
	border-color: #AAA;
	background: white;
}
#menu.ui-ribbon .ui-ribbon-tabs a {
	 color: #000;
}  

#menu.ui-helper-clearfix::after {
  display: none
}


#menu label {
  font-weight: normal;
  margin-left: 0px;
}

p.tutorialCommand {
	font-weight:bold;
}
div.windowHelp {
	float:right;
	cursor:pointer;
}


.icon-22x22 {
	width: 22px !important;
	height: 22px !important;
	margin-top: 0px !important;
	background-position: left top !important;
}
.icon-16x16 {
  float: left;
	width: 16px !important;
	height: 16px !important;
	background-position: left top !important;
	margin-left: 0px !important;
	margin-top: 0px !important;
  	margin-right: 3px;
}
.ui-icon.icon-22x22 {
	margin-left: -2px !important;
	margin-top: -2px !important;
	margin-right: -2px !important;
}
.icon-32x32 {
	width: 32px !important;
	height: 32px !important;
	background-position: middle top !important;
}

.context-menu-list {
    overflow: visible !important;
}

.context-menu-list .context-menu-item.not-selectable:first-child {
    background: #DDD;
    padding: 5px;
    font-size: 11px;
    font-weight: bold;
}

.tomato.workspace.mode_position {
	cursor: crosshair;
}

.tomato.workspace.mode_select .tomato.selectable {
	cursor: hand;
}

.tomato.workspace.mode_connect .tomato, .tomato.workspace.mode_connect_once .tomato {
	cursor: url(../img/cursor_invalid.png), pointer;
}

.tomato.workspace.mode_connect .tomato.connectable, .tomato.workspace.mode_connect_once .tomato.connectable {
	cursor: url(../img/cursor_connect.png), crosshair;
}

.tomato.workspace.mode_remove .tomato {
	cursor: url(../img/cursor_invalid.png), pointer;
}

.tomato.workspace.mode_remove .tomato.removable {
	cursor: url(../img/cursor_remove.png), crosshair;
}

.form-element.invalid {
	color: red;
}

.ui-dialog .notes {
	font-family: monospace;
}

.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 10pt;
}

.ui-dialog-titlebar {
	border: 1px solid #AAA;
	background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCC;
	color: #222;
	font-weight: bold;
}

.context-menu-item.icon-start { background-image: url(../img/started.png); }
.context-menu-item.icon-stop { background-image: url(../img/prepared.png); }
.context-menu-item.icon-prepare { background-image: url(../img/prepare16.png); }
.context-menu-item.icon-destroy { background-image: url(../img/destroy16.png); }
.context-menu-item.icon-configure { background-image: url(../img/configure.png); }
.context-menu-item.icon-remove { background-image: url(../img/eraser16.png); }
.context-menu-item.icon-connect { background-image: url(../img/connect16.png); }
.context-menu-item.icon-control { background-image: url(../img/control.png); }
.context-menu-item.icon-console { background-image: url(../img/console.png); }
.context-menu-item.icon-edit { background-image: url(../img/pencil.png); }
.context-menu-item.icon-usage { background-image: url(../img/chart_bar.png); }
.context-menu-item.icon-notes { background-image: url(../img/notes16.png); }
.context-menu-item.icon-debug { background-image: url(../img/bug.png); }
.context-menu-item.icon-info { background-image: url(../img/info.png); }
.context-menu-item.icon-java-applet { background-image: url(../img/java-applet.png); }
.context-menu-item.icon-novnc { background-image: url(../img/novnc.png); }
.context-menu-item.icon-drive { background-image: url(../img/drive.png); }
.context-menu-item.icon-rextfv { background-image: url(../img/rextfv.png); }
.context-menu-item.icon-upload { background-image: url(../img/upload_image.png); }
.context-menu-item.icon-download { background-image: url(../img/download_image.png); }
.context-menu-item.icon-download-capture { background-image: url(../img/page_save.png); }
.context-menu-item.icon-live-capture { background-image: url(../img/page_gear.png); }
.context-menu-item.icon-no-capture { background-image: url(../img/page_error.png); }
.context-menu-item.icon-cloudshark { background-image: url(../img/cloudshark16.png); }
.context-menu-item.icon-loading { background-image: url(../img/loading.gif); }

.ui-dialog-buttons .ui-button-text-only {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}


.ui-button-text-only .ui-button-text {
	padding:0px;
	width:100%;
}

.ui-dialog-buttons .ui-button-text-only:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.ui-dialog-buttons .ui-button-text-only:hover {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
  text-decoration: none;
}

.ui-dialog-buttons .ui-button-text-only:active,
.ui-dialog-buttons .ui-button-checked {
  background-image: none;
  outline: 0; button 
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          .ui-button  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}



 
 
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #222222; }
 
 
#menu .ui-tabs-panel .ui-ribbon-group button{
	border: 1px solid lightGrey;
	border-radius: 4px;
	background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; 
	color: #222222;
	margin: 1px;
}
#menu .ui-tabs-panel .ui-ribbon-group button .ui-icon {
    background-size: contain;
}

#menu .ui-tabs-panel .ui-ribbon-group button.ui-state-hover {
	border: 1px solid #AAA;
	background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; 
}

#menu .ui-tabs-panel .ui-ribbon-group button.ui-state-highlight,
#menu .ui-tabs-panel .ui-ribbon-group button.ui-state-focus,
#menu .ui-tabs-panel .ui-ribbon-group button.ui-state-active  {
	background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
	border: 1px solid #AAA;
	border-radius: 4px;
}

#menu .ui-tabs-panel .ui-ribbon-group h3 {
  border-top: 1px solid lightGrey/*{borderColorDefault}*/;
  margin-top: 1px;
  background: #dadada/*{bgColorDefault}*/ url(images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlDefault}*/ 0/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
}

#menu .ui-tabs-panel .ui-ribbon-group h3.ui-state-hover {
  border-top: 1px solid lightGrey/*{borderColorDefault}*/;
  background: #E6E6E6/*{bgColorDefault}*/ url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 0/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
}

#workspace {
	border: 1px solid lightGrey;	
}

#permwindow-close-button:disabled, #permwindow-add-button:disabled {
	background-color:grey;
}
#permwindow-add-button:disabled {
	display:none;
}
#permwindow-add-button {
	float:left;
}