 
#menu.ui-ribbon {
  border: none;
}
#menu .ui-ribbon-panel ul {
  overflow-x: auto;
  white-space: nowrap;
}
#menu li.ui-ribbon-group {
  float: none;
  display: inline-block;
}
#menu.ui-ribbon .ui-ribbon-tabs {
  display: inline-block;  
}
#menu .ui-helper-clearfix::after {
  display: none
}
#menu li.ui-ribbon-group.ui-state-hover {
  background: #FFFFFF;
  border: 1px solid #AAA/*{borderColorContent}*/;
}
#menu li.ui-ribbon-group.ui-state-hover h3 {
  border-top: 1px solid lightGrey/*{borderColorDefault}*/;
  background: #E6E6E6/*{bgColorDefault}*/ url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 0/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
}
.icon-22x22 {
	width: 22px !important;
	height: 22px !important;
	margin-top: 0px !important;
	background-position: left top !important;
}
.icon-16x16 {
	width: 16px !important;
	height: 16px !important;
	background-position: left top !important;
	margin-left: 1px !important;
	margin-top: 1px !important;
}
.ui-icon.icon-22x22 {
	margin-left: -2px !important;
	margin-top: -2px !important;
	margin-right: -2px !important;
}
.icon-32x32 {
	width: 32px !important;
	height: 32px !important;
	background-position: left top !important;
}

.context-menu-list .context-menu-item.not-selectable:first-child {
    background: #DDD;
    padding: 5px;
    font-size: 11px;
    font-weight: bold;
}

.context-menu-item.icon-start { background-image: url(../img/started.png); }
.context-menu-item.icon-stop { background-image: url(../img/prepared.png); }
.context-menu-item.icon-prepare { background-image: url(../img/prepare16.png); }
.context-menu-item.icon-destroy { background-image: url(../img/destroy16.png); }
.context-menu-item.icon-configure { background-image: url(../img/configure.png); }
.context-menu-item.icon-remove { background-image: url(../img/eraser16.png); }
.context-menu-item.icon-connect { background-image: url(../img/connect16.png); }
.context-menu-item.icon-control { background-image: url(../img/control.png); }
.context-menu-item.icon-console { background-image: url(../img/console.png); }