 
#menu.ui-ribbon {
  border: none;
}
#menu .ui-ribbon-panel ul {
  overflow-x: auto;
  white-space: nowrap;
}
#menu li.ui-ribbon-group {
  float: none;
  display: inline-block;
}
#menu.ui-ribbon .ui-ribbon-tabs {
  display: inline-block;  
}
#menu .ui-helper-clearfix::after {
  display: none
}
#menu li.ui-ribbon-group.ui-state-hover {
  background: #FFFFFF;
  border: 1px solid #AAA/*{borderColorContent}*/;
}
#menu li.ui-ribbon-group.ui-state-hover h3 {
  border-top: 1px solid lightGrey/*{borderColorDefault}*/;
  background: #E6E6E6/*{bgColorDefault}*/ url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 0/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/;
}
.icon-22x22 {
	width: 22px !important;
	height: 22px !important;
	margin-top: 0px !important;
	background-position: left top !important;
}
.icon-16x16 {
	width: 16px !important;
	height: 16px !important;
	background-position: left top !important;
	margin-left: 1px !important;
	margin-top: 1px !important;
}
.ui-icon.icon-22x22 {
	margin-left: -2px !important;
	margin-top: -2px !important;
	margin-right: -2px !important;
}
.icon-32x32 {
	width: 32px !important;
	height: 32px !important;
	background-position: left top !important;
}
.icon-16x16.icon-eraser {
	background-image: url("/img/eraser16.png") !important;
}
.icon-16x16.icon-connect {
	background-image: url("/img/connect16.png") !important;
}
.icon-16x16.icon-edit {
	background-image: url("/img/edit16.png") !important;
}
.icon-16x16.icon-export {
	background-image: url("/img/export16.png") !important;
}
.icon-16x16.icon-move {
	background-image: url("/img/move16.png") !important;
}
.icon-16x16.icon-usage {
	background-image: url("/img/chart_bar.png") !important;
}
.icon-16x16.icon-prepare {
	background-image: url("/img/prepare16.png") !important;
}
.icon-16x16.icon-destroy {
	background-image: url("/img/destroy16.png") !important;
}
.icon-32x32.icon-start {
	background-image: url("/img/start32.png") !important;
}
.icon-32x32.icon-stop {
	background-image: url("/img/stop32.png") !important;
}
.icon-32x32.icon-select {
	background-image: url("/img/select32.png") !important;
}
.icon-32x32.icon-switch {
	background-image: url("/img/switch32.png") !important;
}
.icon-32x32.icon-hub {
	background-image: url("/img/hub32.png") !important;
}
.icon-32x32.icon-router {
	background-image: url("/img/router32.png") !important;
}
.icon-32x32.icon-internet {
	background-image: url("/img/internet32.png") !important;
}
.icon-32x32.icon-openflow {
	background-image: url("/img/openflow32.png") !important;
}
.icon-32x32.icon-kvm {
	background-image: url("/img/kvm32.png") !important;
}
.icon-32x32.icon-openvz {
	background-image: url("/img/openvz32.png") !important;
}
.icon-32x32.icon-kvm-linux {
	background-image: url("/img/kvm_linux32.png") !important;
}
.icon-32x32.icon-openvz-linux {
	background-image: url("/img/openvz_linux32.png") !important;
}
.icon-32x32.icon-repy {
	background-image: url("/img/repy32.png") !important;
}
.icon-16x16.icon-kvm {
	background-image: url("/img/kvm16.png") !important;
}
.icon-16x16.icon-openvz {
	background-image: url("/img/openvz16.png") !important;
}
.icon-16x16.icon-repy {
	background-image: url("/img/repy16.png") !important;
}
.icon-32x32.icon-user {
	background-image: url("/img/user32.png") !important;
}