@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic&subset=latin,latin-ext,greek-ext,greek);


body {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif; font-size:0.8em;
  background-color:#ffffff;
  margin:0px;
  min-height: 100%;
  min-width: 780px;
}

h1 {font-size:1.5em;color:#000000;margin-bottom:5mm;}
h2 {font-size:1.1em;color:#000000;margin-bottom:1mm}
h3 {font-size:1.0em;color:#000000;}




/* table design */
table {
	font-size: 1.0em;
	text-align: left;
	border-spacing: 0px;
}
table thead tr th, table tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	padding: 1mm;
	margin: 0px;
}
table tbody td {
	color: #3D3D3D;
	padding: 1mm;
	background-color: #FFF;
	vertical-align: top;
	margin: 0px;
}
table tr:nth-child(even) td {
	background-color: #ebF2F2;
}
table.whitebg tr:nth-child(even) td {
	background-color: white;
}

td {
	vertical-align:top;
}

th {
	text-align: left;
}

form table th {
	vertical-align:top;
}





code {font-size:0.9px;color:#0000ff;}

pre {
  font-size:14px;
  color:#0000ff;
  padding:5px;
  white-space: pre-wrap;
}

tt em {
  color:#0000ff;
  font-style: normal;
}







/* link design */
a:link, a:visited, a:active, a:hover
{
  text-decoration:underline;
  font-weight:normal;
  font-size:12px;
}

a:link, a:visited
{
	color:#911a20;
}

a:active, a:hover
{
  color:#f00;
}








#content {
        margin-left: 200px;
        max-width:1260px;
}

#left {
        float: left;
        width: 180px;
}






#minimenu_top{
	margin:20px 0px; 
	float:right;
}

#minimenu_bottom{
	margin:10px 0px; 
}

.smallmenu{
    font-size:11px;	
}

.smallmenu a, .smallmenu a:visited{
	padding: 10px;
	text-decoration: none;
	color: #000000;
}

.smallmenu a:hover {
	text-decoration: underline;
}

#menu_top {
	float: right;
}

#menu_userinfo {
	text-align:right;
	padding-top: 8px;
	padding-right: 17px;
	padding-bottom: 2px;
}

#menu_top ul {
	margin: 0;
	padding: 15px 0 0 0;
	list-style: none;
}

#menu_top li {
	display: inline;
}



#sidemenu {
	width:180px;
	margin:0 0 25px;
	padding:0;
}

#sidemenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
 }

#sidemenu h2{
	padding: 3px 0;
	margin:5px 0;
	display:block;
	background: url(line.gif) repeat-x left bottom;
}

#sidemenu ul li {
	display: block;
	background: url(glab_icon.png)  10px 3px no-repeat;
	padding: 2px 0 2px 40px;
}

#sidemenu ul ul li {
	background-position: 40px 3px;
	padding-left: 70px;
}

#sidemenu ul li a {
	text-decoration: none;
	color: #000000;
	line-height: 19px;
}

#sidemenu ul li a:hover, #sidemenu  .active a{
	font-weight:bold;
}

img {
	border: 0;
}

/* IE workaround */
* html #sidemenu ul li {
display: inline;
}
* html #sidemenu ul li a {
height: 1%;
}
/* workaround Ende */

.clearer {
	clear:both;
}

.indent{
	padding-left:2em;
}

.align-justify{
	text-align:justify;
}

div.tx_sevenpack-list_container { margin: 0; }

.topology_analysis {
	list-style-type: none;
}
.problem, .error{
	font-weight:bold;
	color:red;
}
.warning {
	color:red;
}
.hint {
	color:orange;
}

ul.none {
	list-style-type: none;
}
li.warning, li.error, li.problem {
	background-repeat: no-repeat;
	background-position: 0px 0px; 
	padding-left: 25px;
	margin-left: -25px;
}
li.warning {
	background-image: url(../icons/warning.png);	
	color: black;
}
li.error, li.problem {
	background-image: url(../icons/error.png);
	color:red;
	font-weight: normal;
}


form ul.errorlist {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

form ul.errorlist li {
	font-size:9pt;
	color:red;
	font-weight:bold;
}

div.ui-widget {
	font-size:1.0em;
}

table td.stddev_high.good_low, table td.stddev_low.good_high {
	color: red !important;
}
table td.stddev_high.good_high, table td.stddev_low.good_low {
	color: green;
}

p.code {
	padding:2px;
	margin:0px;
	background-color:#eeeeee;
}






/* help */

div.helpgroup {
	padding: 15px;
}
div.helpgroup h3 {
	padding-top: 5px;
}
div.helpgroup li {
	margin:4px;
}




/*
hoverdescription:

<div class="hoverdescription">
	This is some text.
	<div class="hiddenbox">
		<p>
			This text is hidden by default, and will be shown when the mouse is hovering on the text above.
		</p>
	</div>
</div>
 */

div.hoverdescription div.hiddenbox {
	display:none;
}
div.hoverdescription:hover div.hiddenbox {
	display:inline;
	position:absolute;
	margin: 2px;
	margin-left: 10px;
	border: 1px solid black;
	background-color: #ffffff;
}
div.hoverdescription:hover div.hiddenbox p {
	padding-left:  15px;
	padding-right: 15px;
}






/*header*/

#header {
	height: 80px;
	margin: 0 auto 10px auto;
	background:url(spacer_hor.gif) repeat-x left bottom;
	width:100%
}

#menu_top a {
	display: block;
	float: left;
	margin-left: 10px;
	margin-right:20px;
	padding: 7px;
	text-decoration: none;
	font-size: 13px;
	color: #000000;
}

#menu_top a:hover, #menu_top .active a {
	background: url(line.gif) repeat-x left bottom;
}

#border_top{
	width:100%;
	/*height:28px;
	background-repeat:repeat-x;
	background-image: url(border_top.png);*/
	height:0.25cm;
	background-color:#911a20;
}

#logo{
	float:left;
	width:153px;
	height:79px; 
}

#logo-text{
	float:left;
	vertical-align:middle;
}
#logo-text img {
	margin-left:20px;
}




/*footer*/

footer {
	margin-left: 15%;
	background-color:#eeeeee;
	width:70%;
	font-size:12px;
	color:#999999;
	text-align:center;
}

footer #legal{
	padding: 5px;
}

footer #links{
	padding: 5px;
}
footer #links a{
	margin:7px;
}



/* license page */

div.licensegroup {
	padding: 5px;
	margin: 10px;
	background-color:#eeeeee;
}
div.licensegroup p {
	margin-top:0px;
}
