{% extends "base.html" %}

{% load url from future %}
{% load tomato %}

{% block title %}
<title>External Network Instances - G-Lab ToMaTo</title>
{% endblock %}

{% block content %}
<h1>External Network Instances</h1>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  	<span class="glyphicon glyphicon-filter"></span>
    {% if network %}
      Showing instances of '{{network_label}}'
    {% else %}
      Showing instances of all networks
    {% endif %}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  
    <li>
    {% if organization %}
      		<a href="{%url "organization_external_networks" organization %}">
      	{% else %}
      		{% if site %}
      			<a href="{%url "site_external_networks" site %}">
      		{% else %}
      			{% if host %}
      				<a href="{%url "host_external_networks" host  %}">
      			{% else %}
	      			<a href="{%url "external_network_instances_all" %}">
	      		{% endif %}
	      	{% endif %}
	      {% endif %}
	      
    Show all external network instances</a></li>
    
    <li class="divider"></li>
    {% for net in networks %}
    	<li>
    	{% if organization %}
      		<a href="{%url "organization_external_network" organization net.id %}">
      	{% else %}
      		{% if site %}
      			<a href="{%url "site_external_network" site net.id %}">
      		{% else %}
      			{% if host %}
      				<a href="{%url "host_external_network" host net.id %}">
      			{% else %}
	      			<a href="{%url "external_network_instances" net.id %}">
	      		{% endif %}
	      	{% endif %}
	      {% endif %}
	      
	      Show instances of '{{net.label}}'</a></li>
    {% endfor %}
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  	<span class="glyphicon glyphicon-filter"></span>
    {% if host %}
      Showing instances on host '{{host}}'
    {% else %}
    	{% if site %}
    		Showing instances on site '{{site_label}}'
    	{% else %}
    		{% if organization %}
    			Showing instances on organization '{{organization_label}}'
    		{% else %}
      			Showing instances on all hosts
      		{% endif %}
   		{% endif %}
    {% endif %}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    {% if network %}
      <li><a href="{%url "external_network_instances" network %}">Show instances on all hosts</a></li>
    {% else %}
      <li><a href="{%url "external_network_instances_all" %}">Show instances on all hosts</a></li>
    {%endif%}
    <li class="divider"></li>
    <li class="dropdown-header">Organizations</li>
    {% for o in organizations %}
    	{% if network %}
      		<li><a href="{%url "organization_external_network" o.name network %}">Show instances on '{{o.label}}'</a></li>
    	{% else %}
    		<li><a href="{%url "organization_external_networks" o.name %}">Show instances on '{{o.label}}'</a></li>
    	{% endif %}
    {% endfor %}
    
    <li class="divider"></li>
    <li class="dropdown-header">Sites</li>
    {% for s in sites %}
    	{% if network %}
     		<li><a href="{%url "site_external_network" s.name network %}">Show instances on '{{s.label}}'</a></li>
     	{% else %}
     		<li><a href="{%url "site_external_networks" s.name %}">Show instances on '{{s.label}}'</a></li>
     	{% endif %}   
    {% endfor %}
    
    <li class="divider"></li>
    <li class="dropdown-header">Hosts</li>
    {% for h in hosts %}
    	{% if network %}
      		<li><a href="{%url "host_external_network" h.name network %}">Show instances on '{{h.name}}'</a></li> 
    	{% else %}
      		<li><a href="{%url "host_external_networks" h.name %}">Show instances on '{{h.name}}'</a></li> 
      	{% endif %}   
    {% endfor %}
  </ul>
</div>

<div class="skip-sm"></div>

{% if nis|length > 10 and request.session.user.isHostManager %}
<form>
  <button type="submit"
  {%if host%}
  	{%if network%}
  	  formaction="{%url "external_network_instance.add" network=network host=host%}"
  	{%else%}
  	  formaction="{%url "external_network_instance.add" host=host%}"
  	{%endif%}
  {%else%}
  {%if network%}
  	  formaction="{%url "external_network_instance.add" network=network%}"
  	{%else%}
  	  formaction="{%url "external_network_instance.add"%}"
  	{%endif%}
  {%endif%}
  class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add external network instance</button>
</form>
{% endif %}

{% if nis %}
	<script src="/js/enhancetable.js"></script>

	<table class="sortable,filterable table table-striped">
	  <tr>
	    <th>Host</th>
	  	<th>Bridge</th>
	    <th>Network</th>
	    
	    {% if request.session.user.isHostManager %}
	    	<th/>
	    {% endif %}
	    
	  </tr>
	{% for ni in nis %}
	  <tr>
	  	<td><a href="{%url "admin.host.info" ni.host%}">{{ni.host}}</a></td>
	  	<td>{{ni.bridge}}</td>
	  	<td>{{ni.network}}</td>
	    
	    {% if request.session.user.isHostManager %}
	    <td>
	    	<form>
	    		<button type="submit" formaction="{%url "external_network_instance.edit" ni.id%}" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-pencil"></span> edit</button>
  				<button type="submit" formaction="{%url "external_network_instance.remove" ni.id%}" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span> remove</button>
  			</from>
		</td>
	    {% endif %}
	    
	  </tr>
	{% endfor %}
	</table>
{% else %}
	<p>No external network instances</p>
{% endif %}

{% if request.session.user.isHostManager %}
<form>
  <button type="submit"
  {%if host%}
  	{%if network%}
  	  formaction="{%url "external_network_instance.add" network=network host=host%}"
  	{%else%}
  	  formaction="{%url "external_network_instance.add" host=host%}"
  	{%endif%}
  {%else%}
  {%if network%}
  	  formaction="{%url "external_network_instance.add" network=network%}"
  	{%else%}
  	  formaction="{%url "external_network_instance.add"%}"
  	{%endif%}
  {%endif%}
  class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add external network instance</button>
</form>
{% endif %}

{% endblock %}
