{% extends "base.html" %}

{% load tomato %}

{% block content %}
<h1>External Network Instance list</h1>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  	<span class="glyphicon glyphicon-filter"></span>
    {% if network %}
      Showing instances of network '{{network_kind}}'
    {% else %}
      Showing instances of all networks
    {% endif %}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  
    <li>
    {% if organization %}
      		<a href="{%url organization_external_networks organization %}">
      	{% else %}
      		{% if site %}
      			<a href="{%url site_external_networks site %}">
      		{% else %}
      			{% if host %}
      				<a href="{%url host_external_networks host  %}">
      			{% else %}
	      			<a href="{%url external_network_instances_all %}">
	      		{% endif %}
	      	{% endif %}
	      {% endif %}
	      
    Show all external network instances</a></li>
    
    <li class="divider"></li>
    {% for net in networks %}
    	<li>
    	{% if organization %}
      		<a href="{%url organization_external_network organization net.id %}">
      	{% else %}
      		{% if site %}
      			<a href="{%url site_external_network site net.id %}">
      		{% else %}
      			{% if host %}
      				<a href="{%url host_external_network host net.id %}">
      			{% else %}
	      			<a href="{%url external_network_instances net.id %}">
	      		{% endif %}
	      	{% endif %}
	      {% endif %}
	      
	      Show instances of network '{{net.attrs.kind}}'</a></li>    
    {% endfor %}
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  	<span class="glyphicon glyphicon-filter"></span>
    {% if host %}
      Showing instances on host '{{host}}'
    {% else %}
    	{% if site %}
    		Showing instances on site '{{site}}'
    	{% else %}
    		{% if organization %}
    			Showing instances on organization '{{organization}}'
    		{% else %}
      			Showing instances on all hosts
      		{% endif %}
   		{% endif %}
    {% endif %}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{%url external_network_instances_all %}">Show instances on all host</a></li>
    
    <li class="divider"></li>
    {% for o in organizations %}
    	{% if network %}
      		<li><a href="{%url organization_external_network o.name network %}">Show instances on organization '{{o.name}}'</a></li>    
    	{% else %}
    		<li><a href="{%url organization_external_networks o.name %}">Show instances on organization '{{o.name}}'</a></li>    
    	{% endif %}
    {% endfor %}
    
    <li class="divider"></li>
    {% for s in sites %}
    	{% if network %}
     		<li><a href="{%url site_external_network s.name network %}">Show instances on site '{{s.name}}'</a></li>
     	{% else %}
     		<li><a href="{%url site_external_networks s.name %}">Show instances on site '{{s.name}}'</a></li>
     	{% endif %}   
    {% endfor %}
    
    <li class="divider"></li>
    {% for h in hosts %}
    	{% if network %}
      		<li><a href="{%url host_external_network h.address network %}">Show instances on host '{{h.address}}'</a></li> 
    	{% else %}
      		<li><a href="{%url host_external_networks h.address %}">Show instances on host '{{h.address}}'</a></li> 
      	{% endif %}   
    {% endfor %}
  </ul>
</div>

<div class="skip-sm"></div>

{% if nis|length > 10 and request.session.user.isHostManager %}
<form>
  <button type="submit" formaction="{%url external_network_instance.add%}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add external network instance</button>
</form>
{% endif %}

{% if nis %}
	<script src="/js/enhancetable.js"></script>

	<table class="sortable,filterable table table-striped">
	  <tr>
	    <th>Host</th>
	  	<th>Bridge</th>
	    <th>Network</th>
	    
	    {% if request.session.user.isHostManager %}
	    	<th/>
	    {% endif %}
	    
	  </tr>
	{% for ni in nis %}
	  <tr>
	  	<td><a href="{%url host.info ni.attrs.host%}">{{ni.attrs.host}}</a></td>
	  	<td>{{ni.attrs.bridge}}</td>
	  	<td>{{ni.attrs.network}}</td>
	    
	    {% if request.session.user.isHostManager %}
	    <td>
	    	<form>
	    		<button type="submit" formaction="{%url external_network_instance.edit ni.id%}" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-pencil"></span> edit</button>
  				<button type="submit" formaction="{%url external_network_instance.remove ni.id%}" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span> remove</button>
  			</from>
		</td>
	    {% endif %}
	    
	  </tr>
	{% endfor %}
	</table>
{% else %}
	<p>No external network instances</p>
{% endif %}

{% if request.session.user.isHostManager %}
<form>
  <button type="submit" formaction="{%url external_network_instance.add%}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add external network instance</button>
</form>
{% endif %}

{% endblock %}
