{% extends "base.html" %}

{% block menu_top %}
<ul>
	<li><a href="{%url top.index%}">Topologies</a></li>
	<li class="active"><a href="{%url host.index%}">Admin</a></li>
	<li><a href="{%url main.help%}">Help</a></li>
</ul>
{% endblock %}

{% block left %}
<div id="sidemenu">
	<h2>Hosts</h2>
	<ul>
		<li><a href="{%url host.index%}">list of all hosts</a></li>
		<li><a href="{%url host.add%}">add new host</a></li>
	</ul>
</div>

<div id="sidemenu">
	<h2>Templates</h2>
	<ul>
		<li><a href="{%url template.index%}">list of all templates</a></li>
		<li><a href="{%url template.add%}">add new template</a></li>
	</ul>
</div>

<div id="sidemenu">
	<h2>Tasks</h2>
	<ul>
		<li><a href="{%url main.task_list%}">list of all tasks</a></li>
	</ul>
</div>

<div id="sidemenu">
	<h2>Errros</h2>
	<ul>
		<li><a href="{%url main.error_list%}">list of all errors</a></li>
	</ul>
</div>
{% endblock %}