{% extends "admin/base.html" %}

{% block content %}

{% if task %}
<h1>Task: {{taskname}}</h1>
<iframe width="80%" height="60%" frameborder="0" src="{%url main.task_status task%}"></iframe>
{% endif %}

<h1>List of hosts</h1>

<script src="/static/enhancetable.js"></script>
<table class="sortable,filterable">
	<tr>
		<th>Host</th>
		<th>Group</th>
		<th>enabled</th>
		<th>Devices</th>
	</tr>
{% for host in host_list %}
	<tr>
		<td><a href="{%url host.detail hostname=host.name%}">{{host.name}}</a></td>
		<td>{{host.group}}</td>
		<td>{{host.enabled}}</td>
		<td>{{host.device_count}}</td>
	</tr>
{% endfor %}
</table>

<br/>

<h2>Special features</h2>
<table class="sortable,filterable">
	<tr>
		<th>Host</th>
		<th>Type</th>
		<th>Group</th>
		<th>Bridge</th>
	</tr>
{% for host in host_list %}{% for sf in host.special_features %}
	<tr>
		<td><a href="{%url host.detail hostname=host.name%}">{{host.name}}</a></td>
		<td>{{sf.type}}</td>
		<td>{{sf.group}}</td>
		<td>{{sf.bridge}}</td>
	</tr>
{% endfor %}{% endfor %}
</table>
{% endblock %}
