{% extends "admin/base.html" %}

{% block content %}
<h1>List of hosts</h1>

<script src="/static/sorttable.js"></script>
<table class="sortable">
	<tr>
		<th>host</th>
		<th>group</th>
		<th>devices</th>
		<th>actions</th>
	</tr>
{% for host in host_list %}
	<tr>
		<td>{{host.name}}</td>
		<td>{{host.group}}</td>
		<td>{{host.device_count}}</td>
		<td>
			<a href="{%url host.remove hostname=host.name%}" onclick="javascript:return confirm('Are you sure? All devices on this host will be lost!')">[remove]</a>
			<a href="{%url top.index host_filter=host.name%}">[all topologies]</a>
			<a href="{%url host.debug host.name%}">[debug info]</a>
		</td>
	</tr>
{% endfor %}
</table>
{% endblock %}
