{% extends "admin/base.html" %}

{% block content %}

{% if task %}
<h1>Task: {{taskname}}</h1>
<iframe width="80%" height="60%" frameborder="0" src="{%url main.task_status task%}"></iframe>
{% endif %}

<h1>List of hosts</h1>

<script src="/static/enhancetable.js"></script>
<table class="sortable,filterable">
	<tr>
		<th>host</th>
		<th>group</th>
		<th>enabled</th>
		<th>devices</th>
		<th>actions</th>
	</tr>
{% for host in host_list %}
	<tr>
		<td>{{host.name}}</td>
		<td>{{host.group}}</td>
		<td>{{host.enabled}}</td>
		<td>{{host.device_count}}</td>
		<td>
			<a href="{%url host.edit%}?hostname={{host.name}}"><img src="/static/icons/edit.png" alt="edit" title="edit"/></a>
			<a href="{%url host.remove hostname=host.name%}" onclick="javascript:return confirm('Are you sure? All devices on this host will be lost!')"><img src="/static/icons/delete.png" alt="remove" title="remove"/></a>
			<a href="{%url top.index host_filter=host.name%}"><img src="/static/icons/view_list.png" alt="all topologies" title="all topologies"/></a>
			<a href="{%url host.debug host.name%}"><img src="/static/icons/chart_bar.png" alt="debug info" title="debug info"/></a>
			<a href="{%url host.check host.name%}"><img src="/static/icons/magnifier.png" alt="check host" title="check host"/></a>
		</td>
	</tr>
{% endfor %}
</table>
{% endblock %}
