{% extends "admin/base.html" %}

{% block content %}
<h1>Host {{host.name}}</h1>

<h2>Actions</h2>
<a href="{%url host.remove hostname=host.name%}" onclick="javascript:return confirm('Are you sure? All devices on this host will be lost!')"><img src="/static/icons/delete.png" alt="remove" title="remove"/> remove</a><br/>
<a href="{%url top.index host_filter=host.name%}"><img src="/static/icons/view_list.png" alt="all topologies" title="all topologies"/> all topologies</a><br/>
<a href="{%url host.debug host.name%}"><img src="/static/icons/chart_bar.png" alt="debug info" title="debug info"/> debug info</a><br/>
<a href="{%url host.check host.name%}"><img src="/static/icons/magnifier.png" alt="check host" title="check host"/> check host</a><br/>

<h2>Settings <a href="{%url host.edit%}?hostname={{host.name}}"><img src="/static/icons/edit.png" alt="edit" title="edit"/></a></h2>
<table>
  <tr><td>Group:</td><td>{{host.group}}</td></tr>
  <tr><td>Enabled:</td><td>{{host.enabled}}</td></tr>
  <tr><td>public bridge:</td><td>{{host.public_bridge}}</td></tr>
  <tr><td>Port range:</td><td>{{host.port_start}} - {{host.port_start|add:host.port_count}}</td></tr>
  <tr><td>VMID range:</td><td>{{host.vmid_start}} - {{host.vmid_start|add:host.vmid_count}}</td></tr>
  <tr><td>Bridge range:</td><td>{{host.bridge_start}} - {{host.bridge_start|add:host.bridge_count}}</td></tr>
</table>

<h2>Special features</h2>
<table>
  <tr>
    <th>Type</th>
    <th>Group</th>
    <th>Bridge</th>
    <th>Actions</th>
  </tr>
{% for sf in host.special_features %}
  <tr>
    <td>{{sf.type}}</td>
    <td>{{sf.group}}</td>
    <td>{{sf.bridge}}</td>
    <td><a href="{%url host.special_feature_remove hostname=host.name%}?type={{sf.type}}&group={{sf.group}}"><img src="/static/icons/delete.png" alt="remove" title="remove"/></a></td>
  </tr>
{% endfor %}
<form action="{%url host.special_feature_add hostname=host.name%}">
  <tr>
    <td><input name="type"/></td>
    <td><input name="group"/></td>
    <td><input name="bridge"/></td>
    <td><input type="submit" value="Add"/></td>
  </tr>
</form>
</table>
{% endblock %}