{% extends "admin/base.html" %}

{% block content %}
<h1>List of physical links</h1>

<script src="/static/enhancetable.js"></script>

<table class="sortable,filterable">
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Delay avg</th>
    <th>Delay stddev</th>
    <th>Loss</th>
  </tr>
{% for link in links %}
  <tr>
    <td>{{link.src}}</td>
    <td>{{link.dst}}</td>
    <td>{{link.delay_avg|floatformat}}ms</td>
    <td>{{link.delay_stddev|floatformat}}ms</td>
    <td>{{link.loss|floatformat}}%</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
