{% extends "admin/base.html" %}

{% block content %}
<script src="/static/enhancetable.js"></script>

<h1>Resource usage by {% if by_user %}user{% else %}topology{% endif %}</h1>
<table class="sortable,filterable">
	<tr>
		<th>{% if by_user %}User{% else %}Topology{% endif %}</th>
		<th>Disk space</th>
		<th>Memory</th>
		<th>Ports</th>
		<th>Public IPs</th>
	</tr>
{% for name, res in usage %}
	<tr>
		<td><a href="{% if by_user %}{%url top.index%}?owner_filter={{name}}{%else%}{%url top.details res.top_id%}{%endif%}">{{name}}</a></td>
		<td>{{res.disk|floatformat}} MB</td>
		<td>{{res.memory|floatformat}} MB</td>
		<td>{{res.ports}}</td>
		<td>{{res.public_ips}}</td>
	</tr>
{% endfor %}
</table>{% endblock %}
