{% extends "admin/base.html" %}

{% block content %}
<h1>List of templates</h1>

<table>
	<tr>
		<th>name</th>
		<th>type</th>
		<th>actions</th>
	</tr>
{% for tpl in templates %}
	<tr>
		<td>{% if tpl.default %}<b>{{tpl.name}} (default)</b>{% else %}{{tpl.name}}{% endif %}</td>
		<td>{{tpl.type}}</td>
		<td><a href="{%url template.remove name=tpl.name%}">[remove]</a> <a href="{%url template.set_default name=tpl.name type=tpl.type%}">[set default]</a></td>
	</tr>
{% endfor %}
</table>
{% endblock %}