{% extends "admin/base.html" %}

{% load tomato %}

{% block content %}

{% if edit %}

	<h1>Edit {{tech}} device profile</h1>
	
	{% if tech == 'kvmqm' %}
		<form action="{%url device_profile.edit_kvmqm%}" method="post">
	{% else %}
	
		{% if tech == 'openvz' %}
			<form action="{%url device_profile.edit_openvz%}" method="post">
		{% else %}
			<form action="{%url device_profile.edit_repy%}" method="post">
		{% endif %}
		
	{% endif %}

{% else %}

	<h1>Add {{tech}} device profile</h1>

	{% if tech == 'kvmqm' %}
		<form action="{%url device_profile.add_kvmqm%}" method="post">
	{% else %}
	
		{% if tech == 'openvz' %}
			<form action="{%url device_profile.add_openvz%}" method="post">
		{% else %}
			<form action="{%url device_profile.add_repy%}" method="post">
		{% endif %}
	
	{% endif %}

{% endif %}

	

		<table class="whitebg">
			{{form.as_table}}
	
			<tr>
				<td />
				<td align="right">
	
					{% if edit %}
						<input type="submit" value="Save" />
					{% else %}
						<input type="submit" value="Add" />
					{% endif %}
					
					<input type="button" onclick="history.back()" value="Cancel" />
					
				</td>
			</tr>
		</table>
		
	
</form>

{% endblock %}
