{% extends "admin/base.html" %}

{% load tomato %}

{% block content %}
<h1>List of device profiles</h1>


{% if profile_kvmqm_list %}
<script src="/js/enhancetable.js"></script>

<h2>kvmqm</h2>

<table class="sortable,filterable">
  <tr>
    <th>Label</th>
    <th>Preference</th>
    {% if hostManager %}
    <th />
    {% endif %}
  </tr>
{% for profile in profile_kvmqm_list %}
  <tr>
    <td>{{profile.attrs.label}}</td>
    <td>{{profile.attrs.preference}}</td>
    {% if hostManager %}
    <td><small><a href="{%url device_profile.edit%}?id={{templ.id}}"><img src="/img/server_edit.png" title="edit" /></a> &nbsp; <a href="{%url device_profile.remove%}?id={{templ.id}}"><img src="/img/server_delete.png" title="remove" /></a></small></td>
    {% endif %}
  </tr>
{% endfor %}
</table>
{% else %}
No kvmqm profiles
{% endif %}
{% if hostManager %}
<p><input type="button" onClick="window.location='{%url device_profile.add%}?form=kvmqm'" value="Add kvmqm profile" /></p>
{% endif %}




{% if profile_openvz_list %}
<script src="/js/enhancetable.js"></script>

<br />
<h2>openvz</h2>

<table class="sortable,filterable">
  <tr>
    <th>Label</th>
    <th>Preference</th>
    {% if hostManager %}
    <th />
    {% endif %}
  </tr>
{% for profile in profile_openvz_list %}
  <tr>
    <td>{{profile.attrs.label}}</td>
    <td>{{profile.attrs.preference}}</td>
    {% if hostManager %}
    <td><small><a href="{%url device_profile.edit%}?id={{templ.id}}"><img src="/img/server_edit.png" title="edit" /></a> &nbsp; <a href="{%url device_profile.remove%}?id={{templ.id}}"><img src="/img/server_delete.png" title="remove" /></a></small></td>
    {% endif %}
  </tr>
{% endfor %}
</table>
{% else %}
No openvz profiles
{% endif %}
{% if hostManager %}
<p><input type="button" onClick="window.location='{%url device_profile.add%}?form=openvz'" value="Add openvz profile" /></p>
{% endif %}




{% if profile_repy_list %}
<script src="/js/enhancetable.js"></script>

<br />
<h2>repy</h2>

<table class="sortable,filterable">
  <tr>
    <th>Label</th>
    <th>Preference</th>
    {% if hostManager %}
    <th />
    {% endif %}
  </tr>
{% for profile in profile_repy_list %}
  <tr>
    <td>{{profile.attrs.label}}</td>
    <td>{{profile.attrs.preference}}</td>
    {% if hostManager %}
    <td><small><a href="{%url device_profile.edit%}?id={{templ.id}}"><img src="/img/server_edit.png" title="edit" /></a> &nbsp; <a href="{%url device_profile.remove%}?id={{templ.id}}"><img src="/img/server_delete.png" title="remove" /></a></small></td>
    {% endif %}
  </tr>
{% endfor %}
</table>
{% else %}
No repy profiles
{% endif %}
{% if hostManager %}
<p><input type="button" onClick="window.location='{%url device_profile.add%}?form=repy%'" value="Add repy profile" /></p>
{% endif %}


{% endblock %}
