{% extends "admin/base.html" %}

{% load tomato %}

{% block content %}
<h1>List of Device Profiles</h1>


{% if profile_list %}

	{% if profile_list|length > 10 and request.session.user.isHostManager %}
		<p><input type="button" onClick="window.location='{%url device_profile.add%}'" value="Add profile"  class="btn btn-default"/></p>
	{% endif %}

	<script src="/js/enhancetable.js"></script>
	
	<table class="sortable,filterable table table-striped">
	  <tr>
		<th>Tech</th>
		<th>Label</th>
		<th>Disk Space</th>
		<th>RAM</th>
		<th>CPUs</th>
		<th>Preference</th>
		<th>Description</th>
		
		{% if request.session.user.isHostManager %}
			<th />
		{% endif %}
		
	  </tr>
	{% for profile in profile_list %}
	  <tr>
		
		<td enhancetable_customkey="{{profile.attrs.tech}}" align="right">
			{% if profile.attrs.tech == 'kvmqm' %}
				<img src="/img/kvm16.png" title="KVM" />
			{% else %}{% if profile.attrs.tech == 'openvz' %}
				<img src="/img/openvz16.png" title="OpenVZ" />
			{% else %}
				<img src="/img/repy16.png" title="Repy" />
			{% endif %}{% endif %}
		</td>
		
		<td title="{{profile.attrs.name}}">{{profile.attrs.label}}</td>
		
		<td>
			{% if profile.attrs.tech != 'repy' %}
				{{profile.attrs.diskspace}} MB
			{% endif %}
		</td>
		
		<td>{{profile.attrs.ram}} MB</td>
		<td>{{profile.attrs.cpus}}</td>
		<td>{{profile.attrs.preference}}</td>
		
		<td>
		<div class="hoverdescription">
		
			{% if profile.attrs.description %}
				<img src="/img/info.png" alt="i" />
		    {% else %}
		    	<img src="/img/invisible16.png" alt="!"/>
			{% endif %}
			
			{% if profile.attrs.restricted %}
		    	<img src="/img/lock.png" />
		    {% else %}
		    	<img src="/img/invisible16.png" alt="!"/>
		    {% endif %}
			
			<div class="hiddenbox"><table>
				{% if profile.attrs.description %}
					<tr><td><img src="/img/info.png" /></td><td>{{ profile.attrs.description|linebreaks|escape|simpletags:"b i em strong"|safe }}</td></tr>
				{% endif %}
				
				{% if profile.attrs.restricted %}
					<tr><td><img src="/img/lock.png" /></td><td>This profile is restricted. It can only be used by users with the "Restricted Profiles" flag.</td></tr>
				{% endif %}
				
				
			</table></div>
		</div>
		    
	    </td>
	    
	    {% if request.session.user.isHostManager %}
	    	<td>
	    		<a href="{%url device_profile.edit profile.id%}"><img src="/img/pencil.png" title="edit" /></a>
	    		&nbsp;
	    		<a href="{%url device_profile.remove profile.id%}" ><img src="/img/cross.png" title="remove" /></a>
			</td>
	    {% endif %}
		
	  </tr>
	{% endfor %}
	
	</table>
{% else %}
	No profiles
{% endif %}

{% if request.session.user.isHostManager %}
	<p><input type="button" onClick="window.location='{%url device_profile.add%}'" value="Add profile" class="btn btn-default" /></p>
{% endif %}


{% endblock %}
