{% extends "admin/base.html" %}

{% load tomato %}

{% block header %}
    <style>
      #map_canvas {
        width: 800px;
        height: 600px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var map_options = {
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options);
        var src = document.location.protocol + '//' + document.location.host + '/map.kml';
        src = src + '?' + (new Date().getTime()); // No google, you may not cache this file
        var kmlLayer = new google.maps.KmlLayer(src, {
          suppressInfoWindows: false,
          preserveViewport: false,
          map: map
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block content %}

    <h1>Physical Link Stats</h1>
    <div id="map_canvas"></div>

{% endblock %}
