{% extends "admin/base.html" %}

{% load tomato %}

{% block content %}
<h1>List of External Network Instances</h1>

{% if netwI_list|length > 10 and request.session.user.isHostManager %}
	<p><input type="button" onClick="window.location='{%url external_network_instances.add%}'" value="Add external network" /></p>
{% endif %}

{% if netwI_list %}
	<script src="/js/enhancetable.js"></script>
	
	
	<table class="sortable,filterable">
	  <tr>
	    <th>Host</th>
	  	<th>Bridge</th>
	    <th>Network</th>
	    
	    {% if request.session.user.isHostManager %}
	    	<th />
	    {% endif %}
	    
	  </tr>
	{% for netwI in netwI_list %}
	  <tr>
	  	<td>{{netwI.attrs.host}}</td>
	  	<td>{{netwI.attrs.bridge}}</td>
	  	<td>{{netwI.attrs.network}}</td>
	    
	    {% if request.session.user.isHostManager %}
	    	<td>
	    		<a href="{%url external_network_instances.edit netwI.id%}"><img src="/img/pencil.png" title="edit" /></a>
	    		&nbsp;
	    		<a href="{%url external_network_instances.remove netwI.id%}" ><img src="/img/cross.png" title="remove" /></a>
			</td>
	    {% endif %}
	    
	  </tr>
	{% endfor %}
	</table>
{% else %}
	No external network instances
{% endif %}

{% if request.session.user.isHostManager %}
	<p><input type="button" onClick="window.location='{%url external_network_instances.add%}'" value="Add external networks" /></p>
{% endif %}

{% endblock %}
