{% extends "admin/base.html" %}

{% load tomato %}

{% block header %}

<script language="JavaScript" type="text/javascript" src="/js/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui.js"></script>
<link type="text/css" href="/style/jquery-ui.css" rel="stylesheet" />
<script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
</script>

{% if hide_errors %}
<style type="text/css">
	ul.errorlist {display:none;}
</style>
{%endif%}

{% endblock %}

{% block content %}

{# check whether this form is for editing or adding #}
	{% if edit %}
	
		{% if edit_data %}
			<h1>Edit Template {{label}}</h1>
			<form action="{%url device_templates.edit_data%}" method="post" enctype="multipart/form-data">
		{% else %}
			<h1>Edit Template {{label}}</h1>
			<form action="{%url device_templates.edit_torrent%}" method="post" enctype="multipart/form-data">
		{% endif %}
		
	{% else %}
		<h1>Add template</h1>
		<form action="{%url device_templates.add%}" method="post" enctype="multipart/form-data">
	{% endif %}

		<table class="whitebg">
			{{form.as_table}}
	
			<tr>
				<td />
				<td align="right">
	
					{% if edit %}
						<input type="submit" value="Save" />
					{% else %}
						<input type="submit" value="Add" />
					{% endif %}
					
					<input type="button" onclick="history.back()" value="Cancel" />
				</td>
			</tr>
			
		</table>
		
	</form>

    {% if not edit %}
	<h2>Tracker URL</h2>
	The torrent tracker of this backend is:
	<pre><tt>{{tracker_url}}</tt></pre>
	{% endif %}
	
{% endblock %}
