{% extends "admin/base.html" %}

{% load tomato %}

{% block content %}

{# check whether this form is for editing or adding #}
	{% if edit %}
	
		{% if edit_data %}
			<h1>Edit Template {{label}}</h1>
			<form action="{%url device_templates.edit_data%}" method="post" enctype="multipart/form-data">
		{% else %}
			<h1>Edit Template {{label}}</h1>
			<form action="{%url device_templates.edit_torrent%}" method="post" enctype="multipart/form-data">
		{% endif %}
		
	{% else %}
		<h1>Add template</h1>
		<form action="{%url device_templates.add%}" method="post" enctype="multipart/form-data">
	{% endif %}

		<table class="whitebg">
			{{form.as_table}}
	
			<tr>
				<td />
				<td align="right">
	
					{% if edit %}
						<input type="submit" value="Save" />
					{% else %}
						<input type="submit" value="Add" />
					{% endif %}
					
					<input type="button" onclick="history.back()" value="Cancel" />
				</td>
			</tr>
			
		</table>
		
	</form>

    {% if not edit %}
	<h2>Tracker URL</h2>
	The torrent tracker of this backend is:
	<pre><tt>{{tracker_url}}</tt></pre>
	{% endif %}

{% endblock %}
