{% extends "admin/base.html" %}

{% load tomato %}

{% block content %}
<h1>List of Templates</h1>

{% if templ_list|length > 10 and request.session.user.isHostManager %}
	<p><input type="button" onClick="window.location='{%url device_templates.add%}'" value="Add template" /></p>
{% endif %}

{% if templ_list %}
	<script src="/js/enhancetable.js"></script>
	
	
	<table class="sortable,filterable">
	  <tr>
	  	<th>Tech</th>
	    <th>Label</th>
	    <th>Subtype</th>
	    <th>Preference</th>
	    <th>Creation Date</th>
	    <th>Description</th>
	    <th>Ready</th>
	    
	    {% if request.session.user.isHostManager %}
	    	<th />
	    {% endif %}
	    
	  </tr>
	{% for templ in templ_list %}
	  <tr>
	  	<td enhancetable_customkey="{{templ.attrs.tech}}" align="right">
			{% if templ.attrs.tech == 'kvmqm' %}
				<img src="/img/kvm16.png" title="KVM" />
			{% else %}{% if templ.attrs.tech == 'openvz' %}
				<img src="/img/openvz16.png" title="OpenVZ" />
			{% else %}
				<img src="/img/repy16.png" title="Repy" />
			{% endif %}{% endif %}
		</td>
	  
	    <td title="{{templ.attrs.name}}">{{templ.attrs.label}}</td>
	    <td>{{templ.attrs.subtype}}</td>
	    <td>
	    	{{templ.attrs.preference}}
	    </td>
	    
	    
	    
	    <td>{{templ.attrs.creation_date}}</td>
	    
	    <td>
	    
	    
	    <div class="hoverdescription" style="float:left;">
	 
	    	{% if not templ.attrs.nlXTP_installed and not templ.attrs.tech == 'repy' %}
		    	<img src="/img/warning16.png" alt="!"/>
		    {%endif%}
	    
	    	{% if templ.attrs.description %}		    	
		    	<img src="/img/info.png" alt="i" />
		    {%endif%}
		    
		    {% if templ.attrs.restricted %}
		    	<img src="/img/lock.png" />
			{% endif %}
			
    		<div class="hiddenbox"><table>
    		{% if not templ.attrs.nlXTP_installed and not templ.attrs.tech == 'repy' %}
	    		<tr>
		    		<td><img src="/img/warning16.png" /></td>
		    		<td>nlXTP Guest Modules not installed</td>
	    		</tr>
    		{%endif%}
    		
    		{% if templ.attrs.description %}
    			<tr>
    				<td><img src="/img/info.png" /></td>
	    			<td>{{ templ.attrs.description|linebreaks|escape|simpletags:"b i em strong"|safe }}</td>
	    		</tr>
	    	{%endif%}
	    	
		    {% if templ.attrs.restricted %}
				<tr>
					<td><img src="/img/lock.png" /></td>
					<td>This template is restricted.</td>
				</tr>
			{% endif %}
			
    		</table></div>
		    		
		    
		
		 </div>
		    
		    
	    </td>
	    
	    <td>
		    {% if templ.attrs.ready.backend %}
		    	<img src="/img/tick.png" title="on backend" />
		    {% else %}
		    	<img src="/img/error.png" title="not on backend" />
		    {% endif %}
		    /
		    {% if templ.attrs.ready.hosts.ready == templ.attrs.ready.hosts.total %}
		    	<img src="/img/tick.png" title="on all hosts" />
		    {% else %}
		    	<img src="/img/error.png" title="not on all hosts" />
	    		{{templ.attrs.ready.hosts.ready}}/{{templ.attrs.ready.hosts.total}}
		    {% endif %}
	    </td>
	    
	    {% if request.session.user.isHostManager %}
	    	<td>
	    		<a href="{%url device_templates.edit_data templ.id%}"><img src="/img/page_edit.png" title="edit data" /></a>
	    		<a href="{%url device_templates.edit_torrent templ.id%}"><img src="/img/cd_edit.png" title="change torrent" /></a>
	    		&nbsp;
	    		<a href="{%url device_templates.remove templ.id%}" ><img src="/img/cross.png" title="remove" /></a>
			</td>
	    {% endif %}
	    
	  </tr>
	{% endfor %}
	</table>
{% else %}
	No templates
{% endif %}

{% if request.session.user.isHostManager %}
	<p><input type="button" onClick="window.location='{%url device_templates.add%}'" value="Add template" /></p>
{% endif %}

{% endblock %}
