{% extends "admin/base.html" %}

{% load tomato %}

{% block content %}
<h1>List of Templates</h1>

{% if hostManager %}
	<p><input type="button" onClick="window.location='{%url device_templates.add%}'" value="Add template" /></p>
{% endif %}

{% if templ_list %}
	<script src="/js/enhancetable.js"></script>
	
	
	<table class="sortable,filterable">
	  <tr>
	  	<th>Tech</th>
	    <th>Label</th>
	    <th>Subtype</th>
	    <th>Preference</th>
	    <th>Description</th>
	    <th>Ready</th>
	    
	    {% if hostManager %}
	    	<th />
	    {% endif %}
	    
	  </tr>
	{% for templ in templ_list %}
	  <tr>
	  	<td enhancetable_customkey="{{templ.attrs.tech}}" align="right">
			{% if templ.attrs.tech == 'kvmqm' %}
				<img src="/img/kvm16.png" title="KVM" />
			{% else %}{% if templ.attrs.tech == 'openvz' %}
				<img src="/img/openvz16.png" title="OpenVZ" />
			{% else %}
				<img src="/img/repy16.png" title="Repy" />
			{% endif %}{% endif %}
		</td>
	  
	    <td title="{{templ.attrs.name}}">{{templ.attrs.label}}</td>
	    <td>{{templ.attrs.subtype}}</td>
	    <td>
	    	{{templ.attrs.preference}}
		    {% if templ.attrs.restricted %}
		    	<img src="/img/error.png" title="restricted" />
		    {% endif %}
	    </td>
	    
	    <td>
	    	{% if templ.attrs.description %}
		    	<div class="hoverdescription">
		    		<img src="/img/info.png" alt="i" />
		    		<div class="contextmenu">
			    		{% autoescape on %}
			    		{{ templ.attrs.description|linebreaks }}
			    		{% endautoescape %}
		    		</div>
		    	</div>
		    {% else %}
		    	-
		    {% endif %}
	    </td>
	    
	    <td>
		    {% if templ.attrs.ready.backend %}
		    	<img src="/img/tick.png" title="on backend" />
		    {% else %}
		    	<img src="/img/error.png" title="not on backend" />
		    {% endif %}
		    /
		    {% if templ.attrs.ready.hosts.ready == templ.attrs.ready.hosts.total %}
		    	<img src="/img/tick.png" title="on all hosts" />
		    {% else %}
		    	<img src="/img/error.png" title="not on all hosts" />
	    		{{templ.attrs.ready.hosts.ready}}/{{templ.attrs.ready.hosts.total}}
		    {% endif %}
	    </td>
	    
	    {% if hostManager %}
	    	<td>
	    		<a href="{%url device_templates.edit_data%}?id={{templ.id}}"><img src="/img/page_edit.png" title="edit data" /></a>
	    		<a href="{%url device_templates.edit_torrent%}?id={{templ.id}}"><img src="/img/cd_edit.png" title="change torrent" /></a>
	    		&nbsp;
	    		<a href="{%url device_templates.remove%}?id={{templ.id}}" ><img src="/img/cross.png" title="remove" /></a>
			</td>
	    {% endif %}
	    
	  </tr>
	{% endfor %}
	</table>
{% else %}
	No templates
{% endif %}

{% if hostManager %}
	<p><input type="button" onClick="window.location='{%url device_templates.add%}'" value="Add template" /></p>
{% endif %}

{% endblock %}
