<!DOCTYPE html
	PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html> 
<head> 
 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

<title>G-Lab ToMaTo</title> 
<meta name="DESCRIPTION" content="German Lab Webpage" /> 

<link rel="shortcut icon" type="image/x-icon" href="//www.german-lab.de/favicon.ico" />
<!-- Bootstrap core CSS -->
<link href="/style/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/style/justified-nav.css" rel="stylesheet">

<link href="/style/custom.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
{% load tomato %}

<script src="/js/jquery.js"></script>
<script src="/js/dropdown.js"></script>
{% block header %}
{% endblock %}
</head>
<body>

<div id="javascriptwarning">You have disabled Javascript. This may result in incorrect page display, and the editor won't work.</div>
<script language="JavaScript" type="text/javascript">
var css = '#javascriptwarning{display:none;}',
head = document.getElementsByTagName('head')[0],
style = document.createElement('style');

style.type = 'text/css';
if (style.styleSheet){
style.styleSheet.cssText = css;
} else {
style.appendChild(document.createTextNode(css));
}

head.appendChild(style);
</script>


{% block page %}

<div class="container">
	<div class="masthead">
		<table style="width:100%">
		<tr>
		<td>
        <img src="/style/glablogo.jpg" alt="GermanLab" class="img-rounded">
        <img src="/style/tomato_logo.png" alt="ToMaTo" class="img-rounded">
        </td>
        <td style="text-align: right;vertical-align:bottom;">
        <small>
                        {% if request.session.user %}
                        Logged in as {{request.session.user.realname}} (<a href="{%url main.logout %}">logout</a>)
                        {% else %}
                        &nbsp;
                        {% endif %}
        </small>
        </td>
        </tr>
        </table>
        <ul class="nav nav-justified">
			{% if request.session.user %}
				<li><a href="{%url account.info%}">My Account</a></li>
				<li><a href="{%url topology.index%}">Topologies</a></li>
				<li class="dropdown">
			        <a href="{%url host.index%}" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
			        <ul class="dropdown-menu">
						<li><a href="{%url host.index%}">Hosts</a></li>
						<li><a href="{%url site.index%}">Sites</a></li>
						<li><a href="{%url organization.index%}">Organizations</a></li>

						<li role="presentation" class="divider"></li>
						<li><a href="{%url device_templates.index%}">Templates</a></li>
						<li><a href="{%url device_profile.index%}">Device profiles</a></li>

						<li role="presentation" class="divider"></li>
						<li><a href="{%url external_networks.index%}">External networks</a></li>
						<li><a href="{%url external_network_instances.index%}">External network instances</a></li>
			
						<li role="presentation" class="divider"></li>
						<li><a href="{%url account.index%}">Account list</a></li>
						<li><a href="{%url account.index_newaccounts%}">Open User Registrations</a></li>
						<li><a href="{%url topology.index_all%}">All Topologies</a></li>

						<li role="presentation" class="divider"></li>
						<li><a href="{%url physical_link_stats.index%}">Physical links</a></li>
						<li><a href="{.%url main.resource_usage_by_user%}">Resource usage</a></li>
				    </ul>
				{% else %}
					<li><a href="{%url account.register%}">Register</a></li>
					<li><a href="{%url main.login%}">Login</a></li>
				{% endif %}
				<li id="menu_item_help"><a href="{%url help.help%}" target="_help">Help</a></li>
        </ul>
      </div>

      {% block content %}

	  {% endblock %}      

      <!-- Site footer -->
      <div class="footer">		
      	<ul>
      		<li><a href="{% projecturl %}">Project</a></li>
   			<li><a href="{%url help.help "license/license"%}">License</a></li>
   			<li><a href="{% aupurl %}">Terms and Conditions</a></li>
   			<li><a href="{%url help.contact_form%}">Contact</a></li>
   			<li><a href="{% impressumurl %}">Impressum</a></li>
   		</ul>
        <p>&copy; Copyright 2013, Regionales Hochschulrechenzentrum Kaiserslautern (RHRK), Technische Universität Kaiserslautern</p>
        <p class="version">Backend version: {% backend_version %} / Frontend version: {% frontend_version %}</p>
      </div>

    </div> <!-- /container -->

</body> 
{% endblock %}
</html>
