<!DOCTYPE html
	PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html> 
<head> 
 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

<title>G-Lab ToMaTo</title> 
<meta name="DESCRIPTION" content="German Lab Webpage" /> 

<link href="/style/style.css" rel="stylesheet" type="text/css" /> 
<link rel="shortcut icon" type="image/x-icon" href="http://www.german-lab.de/favicon.ico" />

{% block header %}
{% endblock %}
</head>
<body>

<div id="javascriptwarning">You have disabled Javascript. This may result in incorrect page display, and the editor won't work.</div>
<script language="JavaScript" type="text/javascript">
var css = '#javascriptwarning{display:none;}',
head = document.getElementsByTagName('head')[0],
style = document.createElement('style');

style.type = 'text/css';
if (style.styleSheet){
style.styleSheet.cssText = css;
} else {
style.appendChild(document.createTextNode(css));
}

head.appendChild(style);
</script>


{% block page %}
<div id="border_top"></div> 
<div id="page"> 

	<div id="header"> 
		<div id="minimenu_top" class="smallmenu"></div> 
		<div id="logo_glab">
			<a href="http://www.german-lab.de"><img border="0" src="/style/glablogo.jpg" alt="glablogo" /></a>
		</div> 
		<div id="logo_tomato">
			<a href="/"><img src="/style/tomato_logo.png" /></a>
		</div>
		
			
			<div id="menu_userinfo">
			{% if user %}
			Logged in as {{user.realname}}.
			{% else %}
			&nbsp;
			{% endif %}
			</div>
		<div id="menu_top">	
			<ul>
				{% if user %}
					<li id="menu_item_account"><a href="{%url account.info%}">My Account</a></li>
					<li id="menu_item_topologies"><a href="{%url topology.index%}">Topologies</a></li>
					<li id="menu_item_admin"><a href="{%url host.index%}">Admin</a></li>
				{% else %}
					<li id="menu_item_register"><a href="{%url account.register%}">Register</a></li>
					<li id="menu_item_login"><a href="{%url topology.index%}">Login</a></li>
				{% endif %}	
				<li id="menu_item_help"><a href="{%url main.help%}" target="_help">Help</a></li>
			</ul>
		
		{% block menu_select %}{% endblock %}
		</div> 
	</div>  
 
	<div id="left"> 
		{% block left %}{% endblock %}
	</div> 
 
	<div id="content">
		{% block content %}{% endblock %}
	</div> 
	<br class="clearer" /> 
</div> 


<footer>
	
	<div id="links">
		<a href="{%url main.project%}">Project</a>  
   		<a href="{%url main.help "license/license"%}">License</a>
   		<a href="{%url main.help "license/aup"%}">Terms and Conditions</a>
	</div>
	
   	<div id="legal">
   		Copyright © 2010 <a href="http://www.icsy.de">Integrated Communication Systems Lab</a> of the <a href="http://www.uni-kl.de">University of Kaiserslautern</a>. 
	</div> 
	
</footer>

</body> 
{% endblock %}
</html>
