<!DOCTYPE html
	PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html> 
<head> 
 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

<title>G-Lab ToMaTo</title> 
<meta name="DESCRIPTION" content="German Lab Webpage" /> 

<link rel="shortcut icon" type="image/x-icon" href="//www.german-lab.de/favicon.ico" />
<!-- Bootstrap core CSS -->
<link href="/style/bootstrap.min.css" rel="stylesheet">
<link href="/style/bootstrap-multiselect.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/style/justified-nav.css" rel="stylesheet">

<link href="/style/custom.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
{% load tomato %}

<script src="/js/jquery.js"></script>
<script src="/js/dropdown.js"></script>
<script src="/js/bootstrap-multiselect.js"></script>
{% block header %}
{% endblock %}
</head>
<body>

<div id="javascriptwarning">You have disabled Javascript. This may result in incorrect page display, and the editor won't work.</div>
<script language="JavaScript" type="text/javascript">
var css = '#javascriptwarning{display:none;}',
head = document.getElementsByTagName('head')[0],
style = document.createElement('style');

style.type = 'text/css';
if (style.styleSheet){
style.styleSheet.cssText = css;
} else {
style.appendChild(document.createTextNode(css));
}

head.appendChild(style);
</script>


{% block page %}

{% if not request.session.user %}
<form id="loginnavbarform" method="post" action="{%url main.login%}" style="display:none;">
  <input type="hidden" name="forward_url" value="{{request.path}}" />
</form>
{% endif %}

<div class="container">
	<div class="masthead">
		<table style="width:100%">
		<tr>
		<td>
	        <a href="/" class="logobacklink">
	        	<img src="/style/glablogo.jpg" alt="GermanLab" class="img-rounded">
	        	<img src="/style/tomato_logo.png" alt="ToMaTo" class="img-rounded">
	        </a>
        </td>
        <td style="text-align: right;vertical-align:bottom;">
        <small>
        {% if request.session.user %}
        Logged in as {{request.session.user.realname}} (<a href="{%url main.logout %}">logout</a>)
        {% else %}
        &nbsp;
        {% endif %}
        </small>
        </td>
        </tr>
        </table>
        <ul class="nav nav-justified">
            {% if not request.session.user %}
				<li><a href="{%url account.register%}">Register</a></li>
				<li><a onclick="document.getElementById('loginnavbarform').submit();" href="#">Login</a></li>
            {% endif %}
			{% if request.session.user %}
				<li><a href="{%url account.info%}">My Account</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Topologies <span class="caret"></span></a>
			        <ul class="dropdown-menu">
			        	<li><a href="{%url topology_list%}">My Topologies</a></li>
			        	{% if request.session.user.hasGlobalToplFlags or request.session.user.hasOrgaToplFlags %} 
						  	<li><a href="{%url topology_list_all%}">All Topologies</a></li>
						{% endif %}
						{% if not "no_topology_create" in request.session.user.flags %}
							<li class="divider"></li>
							<li><a href="{%url topology.import_%}">Import Topology</a></li>
							<li class="divider"></li>
							<li><a href="{%url tutorial.list%}">Tutorials</a></li>
						{% endif %}
					</ul>
				</li>
	        	{% if request.session.user.isAdmin %} 
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{%url account_list%}">Account list</a></li>
							<li><a href="{%url account_list_all%}">All accounts</a></li>
							<li><a href="{%url account_list_registrations%}">Pending account registrations</a></li>
						</ul>
					</li>
				{% endif %}
				{% endif %}
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Info <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{%url organization.list%}">Organizations</a></li>
						<li><a href="{%url site.map%}">Sites map</a></li>
						{% if request.session.user %}
							<li class="divider"></li>
							<li><a href="{%url host.list%}">Hosts</a></li>
							<li class="divider"></li>
							<li><a href="{%url template.list%}">Templates</a></li>
							<li><a href="{%url profile.list%}">Device profiles</a></li>
							<li><a href="{%url external_network.list%}">External networks</a></li>
						{% endif %}
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Links <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{% helpurl %}" target="_help">Help</a></li>
			      		<li><a href="{% projecturl %}" target="_blank">Project</a></li>
			   			<li><a href="{% aupurl %}" target="_blank">Acceptable Use Policy</a></li>
   						<li><a href="{%url help.contact_form%}">Contact</a></li>
					</ul>
				</li>
        </ul>
      </div>

      {% block content %}

	  {% endblock %}      

      <!-- Site footer -->
      <div class="footer">		
      	<ul>
   			<li><a href="{%url help.help "license/license"%}">License</a></li>
   			<li><a href="{% impressumurl %}">Impressum</a></li>
   		</ul>
        <p>&copy; Copyright 2013, Regionales Hochschulrechenzentrum Kaiserslautern (RHRK), Technische Universität Kaiserslautern</p>
        <p class="version">Backend version: {% backend_version %} / Frontend version: {% frontend_version %}</p>
      </div>

    </div> <!-- /container -->

</body> 
{% endblock %}
</html>
