{% extends "base.html" %}

{% load url from future %}
{% load tomato %}

{% block title %}
<title>{{heading}} - G-Lab ToMaTo</title> 
{% endblock %}
{% block header %}
<script language="JavaScript" type="text/javascript" src="/js/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui.js"></script>
<link type="text/css" href="/style/jquery-ui.css" rel="stylesheet" />
<script>
  $(function() {
    $( ".datepicker" ).datepicker();
  });
</script>
{% endblock %}

{% block content %}
	<h1>{{heading}}</h1>
	{%if message_before%}
		{{message_before|safe}}
		<div class="skip-xs"></div>
	{%endif%}
	{% load crispy_forms_tags %}
	{% crispy form %}
	{{message_after|safe}}
<script>
$('form .backbutton').on('click', function(e) {
	history.back();
});
</script>
{% endblock %}
