# ToMaTo hostmanager config file 

LOG_DIR = "/var/log/tomato"

DATA_DIR = "/var/lib/tomato"

TEMPLATE_DIR = os.path.join(DATA_DIR, "templates")

# Configuration for the XML-RPC server
# PORT: Which TCP port to use
# SSL: Whether to use SSL
# SSL_OPTS: Private and CA key file if SSL is being used
SERVER = {
  "PORT": 8000,
  "SSL": True,
  "SSL_OPTS": {
    "cert_file" : "/etc/tomato/server.pem",
    "key_file": "/etc/tomato/server.pem",
    "client_certs": "/etc/tomato/client_certs",
  }
}

ADMIN_USERS = ["admin"]

# See the django database manual for help
DATABASES = {
  'default': {
    'ENGINE': 'django.db.backends.postgresql_psycopg2',
    'NAME': 'tomato'
  }
#  'default': {
#    'ENGINE': 'django.db.backends.sqlite3',
#    'NAME': '/var/lib/tomato/tomato.sqlite'
#  }
}

FILESERVER = {
  'PORT': 8888,
  'PATH': os.path.join(DATA_DIR, "files"),
}

# PUBLIC_ADDRESS = ""

# Path to store temporary files in
LOCAL_TMP_DIR = "/tmp/tomato"

# Directory for logfiles
LOG_DIR = "/var/log/tomato"

# Path to store topology-specific configuration files in
REMOTE_DIR = "/root/tomato"
