<!DOCTYPE html
	PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"> 
<html> 
<head> 
 
<link href="/static/style/style.css" rel="stylesheet" type="text/css" /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
{% if task.active %}
<meta http-equiv="Refresh" content="1;{%url main.task_status task_id=task.id%}?backurl={{backurl}}" /> 
{% endif %}
</head>
<body>

<h1>Process: {{task.name}} ({{task.status}})</h1>
{% if task.periodic %}<a href="{%url main.task_run task=task.name%}">[execute now]</a><br/>{% endif %}
Status: {{task.status}} {% if task.active %}{{task.tasks_done}}/{{task.tasks_total}}{% endif %}<br/>
Started: {{task.started}}<br/>
Finished: {{task.finished}}<br/>
Duration: {{task.duration}}<br/>

{% for t in task.tasks %}
<h2>Subtask: {{t.name}} {%if t.active%}({{t.status}}){%endif%}</h2>
{% if t.after %}After: {{t.after|join:", "}}<br/>{% endif %}
{% if t.before %}Before: {{t.before|join:", "}}<br/>{% endif %}
Status: {{t.status}}<br/>
Started: {{t.started}}<br/>
Finished: {{t.finished}}<br/>
Duration: {{t.duration}}<br/>
{% if t.result %}Result: <tt>{{t.result}}</tt><br/>{% endif %}

Output:
<pre>
{{t.output}}
</pre>


{% endfor %}
 
{% if task.status == "succeeded" %}
{% if backurl %}
<script language="javascript"><!--
  function back(){
    window.parent.location = "{{backurl}}"
  }
  setTimeout("back()",1000)
//--></script>
{% endif %}
{% endif %}

</body>
</html>