{% extends "base.html" %}

{% load url from future %}
{% load tomato %}

{% block title %}
<title>External Networks - ToMaTo Testbed</title>
{% endblock %}

{% block content %}
<h1>External Networks</h1>

{% if netw_list|length > 10 and request.session.user.isHostManager %}
<form>
  <button type="submit" formaction="{%url "external_network.add"%}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add external network</button>
</form>
{% endif %}

{% if netw_list %}
{% for netw in netw_list %}
<div class="skip-sm"><hr/></div>

<h2>External network {{netw.kind}}</h2>

<table class="table">
	<tr>
		<th>Label:</th>
	    <td>{{netw.label}}</td>
	</tr>
	<tr>
		<th>Preference:</th>
		<td>{{netw.preference}}</td>
	</tr>
	
	{% if netw.show_as_common %}
	<tr>
		<th>Common Element:</th>
		<td><img src="/img/tick.png" /></td>
	</tr>
	{% endif %}
	
	{% if netw.big_icon %}
	<tr>
		<th>Big icon:</th>
		<td><img src="/img/tick.png" /></td>
	</tr>
	{% endif %}
	
	{% if netw.description %}
	<tr>
		<th>Description:</th>
	    <td>{{netw.description|linebreaks|escape|simpletags:"b i em strong"|safe}}</td>
	</tr>
	{% endif %}
	<tr>
		<th>Restricted:</th>
		<td>
		{% if netw.restricted %}
			<img src="/img/lock.png" /> yes
		{% else %}
			no
		{% endif %}
		</td>
	</tr>	
</table>


<form>
	<button type="submit" formaction="{%url "external_network_instances" netw.id%}" class="btn btn-info"><span class="glyphicon glyphicon-list"></span> instances of {{netw.kind}}</button>
	{% if request.session.user.isHostManager %}
  	<button type="submit" formaction="{%url "external_network.edit" netw.id%}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> edit</button>
  	<button type="submit" formaction="{%url "external_network.remove" netw.id%}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> remove</button>
  	
<div class="skip-xs"></div>
  {% endif %}
</form>
{% endfor %}
{% else %}
	<p>No external networks</p>
{% endif %}
	    
{% if request.session.user.isHostManager %}
<form>
  <button type="submit" formaction="{%url "external_network.add"%}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add external network</button>
</form>
{% endif %}

{% endblock %}
