{% extends "admin/base.html" %}

{% load tomato %}

{% block content %}
<h1>List of Organizations</h1>

{% if organization_list %}

	{% if organization_list|length > 10 and request.session.user and request.session.user.isAdmin %}
		<p><input type="button" onClick="window.location='{%url organization.add%}'" value="Add organization" /></p>
	{% endif %}

	<script src="/js/enhancetable.js"></script>
	
	
	<table class="sortable,filterable">
	  <thead><tr>
	    <th>Name</th>
	    <th>Label</th>
	    <th>Description</th>
	    
	    {% if request.session.user.isAdmin or "orga_admin" in request.session.user.flags %}
	    	<th />
	    {% endif %}
	    
	  </tr></thead>
	  
	{% for organization in organization_list %}
	  <tr>
	    <td>{{organization.name}}</td>
	    <td>{{organization.description}}</td>
	    
	    <td>{% if organization.description_text %}
		<div class="hoverdescription">
			<img src="/img/info.png" alt="i" />
			<div class="hiddenbox">
				{{ organization.description_text|linebreaks|escape|simpletags:"b i em strong"|safe }}
			</div>
		</div>
		{%endif%}</td>
	    
	    {% if request.session.user and request.session.user|args:organization.name|call:"isAdmin" %}
	    	<td>
	    		<a href="{%url organization.edit organization.name%}"><img src="/img/pencil.png" title="edit" /></a>
	    		&nbsp;
	    		<a href="{%url organization.remove organization.name%}" ><img src="/img/cross.png" title="remove" /></a>
			</td>
	    {% endif %}
	    
	  </tr>
	{% endfor %}
	
	</table>
{% else %}
	No organization
{% endif %}

{% if request.session.user and request.session.user.isAdmin %}
	<p><input type="button" onClick="window.location='{%url organization.add%}'" value="Add organization" /></p>
{% endif %}

{% endblock %}
