{% extends "admin/base.html" %}

{% load tomato %}

{% block content %}
<h1>List of Sites</h1>

{% if site_list %}

	{% if site_list|length > 10 and request.session.user and request.session.user.isAdmin %}
		<p><input type="button" onClick="window.location='{%url site.add%}'" value="Add site" class="btn btn-default" /></p>
	{% endif %}

	<script src="/js/enhancetable.js"></script>
	
	
	<table class="sortable,filterable table table-striped">
	  <tr>
	    <th>Name</th>
	    <th>Label</th>
	    <th>Location</th>
	    <th>Organization</th>
	    <th class="icononly" />
	    
	  </tr>
	  
	{% for site in site_list %}
	  <tr>
	    <td>{{site.name}}</td>
	    <td>{{site.description}}</td>
	    <td>{{site.location}}</td>
	    <td>{{site.organization}}</td>
	    
	    <td class="icononly">
	    {% if site.description_text %}
		<div class="hoverdescription">
			<img src="/img/info.png" alt="i" />
			<div class="hiddenbox">
				{{ site.description_text|linebreaks|escape|simpletags:"b i em strong"|safe }}
			</div>
		</div>
		{%endif%}
	    
	    {% if request.session.user and request.session.user|args:site.organization|call:"isAdmin" %}
	    	<span width="16">&nbsp;</span>
	    		<a href="{%url site.edit site.name%}"><img src="/img/pencil.png" title="edit" /></a>
	    		&nbsp;
	    		<a href="{%url site.remove site.name%}" ><img src="/img/cross.png" title="remove" /></a>
			
	    {% endif %}
	    
	    </td>
	    
	  </tr>
	{% endfor %}
	
	</table>
{% else %}
	No sites
{% endif %}

{% if request.session.user and request.session.user.isAdmin %}
	<p><input type="button" onClick="window.location='{%url site.add%}'" value="Add site" class="btn btn-default" /></p>
{% endif %}

{% endblock %}
