{% extends "admin/base.html" %}

{% load tomato %}

{% block content %}
<h1>List of sites</h1>

{% if site_list %}
	<script src="/js/enhancetable.js"></script>
	
	
	<table class="sortable,filterable">
	  <tr>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Location</th>
	    
	    {% if hostManager %}
	    	<th />
	    {% endif %}
	    
	  </tr>
	  
	{% for site in site_list %}
	  <tr>
	    <td>{{site.name}}</td>
	    <td>{{site.description}}</td>
	    <td>{{site.location}}</td>
	    
	    {% if hostManager %}
	    	<td>
	    		<a href="{%url site.edit%}?name={{site.name}}"><img src="/img/pencil.png" title="edit" /></a>
	    		&nbsp;
	    		<a href="{%url site.remove%}?name={{site.name}}" ><img src="/img/cross.png" title="remove" /></a>
			</td>
	    {% endif %}
	    
	  </tr>
	{% endfor %}
	
	</table>
{% else %}
	No sites
{% endif %}

{% if hostManager %}
	<p><input type="button" onClick="window.location='{%url site.add%}'" value="Add site" /></p>
{% endif %}

{% endblock %}
