{% extends "admin/base.html" %}

{% load tomato %}

{% block content %}

{# check whether this form is for editing or adding #}
	{% if edit %}
		<h1>Edit host {{address}}</h1>
		<form action="{%url host.edit%}" method="post">
	{% else %}
		<h1>Add host</h1>
		<form action="{%url host.add%}" method="post">
	{% endif %}

		

		<table class="whitebg">
			{{form.as_table}}
	
			<tr>
				<td />
				<td align="right">

					{% if edit %}
						<input type="submit" value="Save" />
					{% else %}
						<input type="submit" value="Add" />
					{% endif %}

					<input type="button" onclick="history.back()" value="Cancel" />
				</td>
			</tr>
		</table>
	</form>

{% endblock %}
