{% extends "base.html" %}

{% load url from future %}

{% block content %}

<form>
  <button type="submit" formaction="{%url "organization.list"%}" class="btn btn-primary" style="float:right;"><span class="glyphicon glyphicon-globe"></span> All Organizations</button>
</form>

<h1>Organization "{{organization.description}}"</h1>

<div class="skip-xs"></div>

{% load tomato %}

<table class="table">
	<tr>
		<th>Icon:</th>
		<td>{% if organization.image_url %}<img class="site" src="{{organization.image_url}}"/>{% endif %}</td>
	</tr>
	{% if request.session.user and request.session.user|args:organization.name|call:"isAdmin" %}
	<tr>
		<th>Internal name:</th>
	    <td>{{organization.name}}</td>
	</tr>
	{% endif %}
	<tr>
		<th>Homepage:</th>
		<td><a href="{{organization.homepage_url}}" target="_blank">{{organization.homepage_url}}</a>
	</tr>
	{% if organization.description_text %}
	<tr>
		<th>Description:</th>
		<td>{{organization.description_text|linebreaks|escape|simpletags:"b i em strong"|safe}}</td>
	</tr>
	{% endif %}
</table>

<div class="skip-xs"></div>

{% load tomato %}

<form>
  <button type="submit" formaction="{%url "organization_accounts" organization.name%}" class="btn btn-info"><span class="glyphicon glyphicon-list"></span> Accounts</button>
  <button type="submit" formaction="{%url "organization_topologies" organization.name%}" class="btn btn-info"><span class="glyphicon glyphicon-list"></span> Topologies</button>
  <button type="submit" formaction="{%url "organization_hosts" organization.name%}" class="btn btn-info"><span class="glyphicon glyphicon-list"></span> Hosts</button>
  <button type="submit" formaction="{%url "organization_external_networks" organization.name%}" class="btn btn-info"><span class="glyphicon glyphicon-list"></span> External Network Instances</button>
  <a class="btn btn-info" href="javascript:window.open('{%url "organization.usage" organization.name%}', '_blank', 'innerHeight=450,innerWidth=600,status=no,toolbar=no,menubar=no,location=no,hotkeys=no,scrollbars=no');"><span class="glyphicon glyphicon glyphicon-stats"></span> Resource Usage</a>
  {% if request.session.user and request.session.user|args:organization.name|call:"isAdmin" %}
  <div class="skip-xs"></div>
  <button type="submit" formaction="{%url "site.add" organization.name%}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> add site</button>
  <button type="submit" formaction="{%url "organization.edit" organization.name%}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> edit organization</button>
  <button type="submit" formaction="{%url "organization.remove" organization.name%}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> remove organization</button>
  {% endif %}
</form>

<div class="skip-sm"></div>

{% for site in sites %}
<a name="{{site.name}}"></a>
<div class="skip-sm"><hr/></div>

<h2>Site "{{site.description}}"</h2>

<table class="table">
	{% if request.session.user and request.session.user|args:organization.name|call:"isAdmin" %}
	<tr>
		<th>Internal name:</th>
	    <td>{{site.name}}</td>
	</tr>
	{% endif %}
	<tr>
		<th>Location:</th>
		<td>{{site.location}}</td>
	</tr>
	<tr>
		<th>Geolocation:</th>
		<td>{% if site.geolocation %}
				Longitude: {{site.geolocation.longitude}}, Latitude: {{site.geolocation.latitude}}
				<a class="btn btn-default btn-xs" target="_blank" href="http://maps.google.com/?ie=UTF8&hq=&ll={{site.geolocation.latitude}},{{site.geolocation.longitude}}&z=13"><span class="glyphicon glyphicon-share-alt"></span> Google Maps</a>
			{% else %}
				unknown
			{% endif %}
		</td>
	</tr>
	{% if site.description_text %}
	<tr>
		<th>Description:</th>
	    <td>{{site.description_text|linebreaks|escape|simpletags:"b i em strong"|safe}}</td>
	</tr>
	{% endif %}
</table>

<div class="skip-xs"></div>

<form>
  <button type="submit" formaction="{%url "site_hosts" site.name%}" class="btn btn-info"><span class="glyphicon glyphicon-list"></span> Hosts</button>
  <button type="submit" formaction="{%url "site_external_networks" site.name%}" class="btn btn-info"><span class="glyphicon glyphicon-list"></span> External Network Instances</button>
  {% if request.session.user and request.session.user|args:organization.name|call:"isAdmin" %}
  <button type="submit" formaction="{%url "site.edit" site.name%}" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> edit site</button>
  <button type="submit" formaction="{%url "site.remove" site.name%}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> remove site</button>
  {% endif %}
</form>
{% endfor %}

{% endblock %}