{% extends "base.html" %}

{% load tomato %}

{% block content %}
<h1>Organization list</h1>

{% if organizations %}

	{% if organizations|length > 10 and request.session.user and request.session.user.isAdmin %}
      <form>
    	<button type="submit" formaction="{%url organization.add%}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add organization</button>
      </form>
	{% endif %}


	<div class="row">		
	{% for orga in organizations %}
		<div class="col-md-4 col-sm-6 col-xs-12">
			<h3>{{orga.description}} <a href="{%url organization.info orga.name %}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-share-alt"></span> Details</a></h3>
			{% if orga.image_url %}<p><a href="{%url organization.info orga.name %}"><img src="{{orga.image_url}}" class="site"/></a></p>{% endif %}
			<p><b>
				{{orga.hosts.count}} hosts
				{% if orga.hosts.count %}(availability: {{orga.hosts.avg_availability|percentage}}, load: {{orga.hosts.avg_load|percentage}}){% endif %}
			</b></p>
			{% if orga.description_text %}
				<p>{{orga.description_text|linebreaks|escape|simpletags:"b i em strong"|safe}}</p>
			{% endif %}
		</div>
		<div class="visible-xs skip-sm"></div>
		{% cycle "" '<div class="clearfix visible-sm"></div><div class="visible-sm skip-sm"></div>' %}
		{% cycle "" "" '<div class="clearfix visible-lg visible-md"></div><div class="visible-md visible-lg skip-sm"></div>' %}
	{% endfor %}
	</div>
{% else %}
	No organizations
{% endif %}

{% if request.session.user and request.session.user.isAdmin %}
	<form>
	<button type="submit" formaction="{%url organization.add%}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add organization</button>
	</form>
{% endif %}

{% endblock %}
