{% extends "base.html" %}

{% load url from future %}
{% load tomato %}

{% block title %}
<title>Organizations - ToMaTo Testbed</title>
{% endblock %}

{% block content %}
<h1>Organizations</h1>

{% if organizations %}

	{% if organizations|length > 10 and request.session.user and request.session.user.isGlobalHostManager %}
      <form>
    	<button type="submit" formaction="{%url "admin.organization.add"%}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add organization</button>
      </form>
	{% endif %}


	<div class="row">		
	{% for orga in organizations %}
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="organization">
				<a href="{%url "admin.organization.info" orga.name%}" style="color:black; text-decoration:none;">
					{% if orga.image_url %}
						<div class="image">
							<img src="{{orga.image_url}}" class="site" />
						</div>
					{% endif %}

					<div class="page-header"><h3>{{orga.label}}</h3></div>

					<p>
						<b><big>{{orga.hosts.count}} host{% if orga.hosts.count != 1 %}s{% endif %}</big></b>
						{% if orga.hosts.count %}<br/>Availability: {{orga.hosts.avg_availability|percentage}}<br/>Load: {{orga.hosts.avg_load|percentage}}{% endif %}
					</p>
					
					{% if orga.description %}
						<p>{{orga.description|linebreaks|escape|simpletags:"b i em strong"|safe}}</p>
					{% endif %}
					
				</a>
			</div>
		</div>
		<div class="visible-xs skip-sm"></div>
		{% cycle "" '<div class="clearfix visible-sm"></div><div class="visible-sm skip-sm"></div>' %}
		{% cycle "" "" '<div class="clearfix visible-lg visible-md"></div><div class="visible-md visible-lg skip-sm"></div>' %}
	{% endfor %}
	</div>
{% else %}
	No organizations
{% endif %}

{% if request.session.user and request.session.user.isGlobalHostManager %}
	<form>
	<button type="submit" formaction="{%url "admin.organization.add"%}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add organization</button>
	</form>
{% endif %}

{% endblock %}
