<Location "/">
    SetHandler python-program
    PythonHandler django.core.handlers.modpython
    SetEnv DJANGO_SETTINGS_MODULE tomato.settings
    PythonOption django.root ''
    PythonDebug On
    PythonPath "['/tomato/web', '/tomato/web/glabnetman'] + sys.path"
</Location>

Alias /static /tomato/web/tomato/static
<Location "/static">
    SetHandler none
</Location>
